<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class='widget'>
        <div class="widget-header bordered-bottom bordered-blue">
            <span class="widget-caption">
                PrEP Monthly Refill Form
            </span>
        </div>
    </div>
    <div class="widget-body">
        <form [formGroup]="PrepMonthlyRefillFormGroup">
            <div class="row">
                <mat-form-field class='col-lg-6'>
                    <input matInput [matDatepicker]="picker" [max]="maxDate" (focus)="picker.open()"
                        formControlName="visitDate" required placeholder="Choose Visit Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-title">
                        <span class="primary">
                            Behaviour Risk Assessment
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <mat-form-field class="col-lg-12">
                            <mat-select class="col-lg-12 col-xs-12 col-sm-6"
                                placeholder="Sex partner(s) is HIV+ and(select all that apply)"
                                formControlName="sexualPartnerHivStatus" disableRipple multiple required>
                                <mat-option *ngFor="let sexualoption of sexualPartnerHivStatusOptions"
                                    [value]="sexualoption.itemId"
                                    (onSelectionChange)="OnSexualPartnerSelection($event)">
                                    {{sexualoption.itemDisplayName}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <mat-form-field class="col-lg-12">
                            <mat-select placeholder="Client Assessment(select all that apply)"
                                formControlName="clientsBehaviourRisks" disableRipple multiple required>
                                <mat-option *ngFor="let clientassessmentoption of clientsBehaviourRiskOptions"
                                    [value]="clientassessmentoption.itemId">
                                    {{clientassessmentoption.itemDisplayName}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-title">
                        <span class="primary">
                            Adherence Assessment
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <mat-form-field class="col-lg-12">
                            <mat-select placeholder="Adherence self Assessment" formControlName="adherenceassessment"
                                required>
                                <mat-option [value]=""></mat-option>
                                <mat-option *ngFor="let Option of PrepAdherenceOptions " [value]="Option.itemId"
                                    (onSelectionChange)="OnAdherenceAssessmentSelected($event)">
                                    {{Option.itemName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <mat-form-field class="col-lg-12">
                            <mat-select placeholder="If fair or Bad,reasons?"
                                formControlName="adherenceassessmentreasons" disableRipple multiple required>
                                <mat-option *ngFor="let Option of AdherenceAssessmentReasonOptions "
                                    [value]="Option.itemId" (onSelectionChange)="OnAdherenceReasonsSelected($event)">
                                    {{Option.itemDisplayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="col-md-12">
                            <textarea formControlName="SpecifyAssessmentReason" matInput
                                placeholder="Specify"></textarea>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <mat-form-field class="col-lg-12">
                            <mat-select placeholder="Adherence Counselling done?" formControlName="adherencecounselling"
                                required>
                                <mat-option [value]=""></mat-option>
                                <mat-option *ngFor="let Option of AdherenceCounsellingOptions " [value]="Option.itemId">
                                    {{Option.itemDisplayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-title">
                        <span class="primary">
                            PrEP Status
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <mat-form-field class="col-lg-12">
                            <mat-select placeholder="PrEP Status" formControlName="prepstatus" required>
                                <mat-option [value]=""></mat-option>
                                <mat-option *ngFor="let Option of RefillPrepStatusOptions" [value]="Option.itemId"
                                    (onSelectionChange)="OnPrepStatusSelected($event)">
                                    {{Option.itemDisplayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12" *ngIf="Visible">
                        <a>Pharmacy Form</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <mat-form-field class="col-lg-12">
                            <mat-select placeholder="PrEP discontinue reasons" formControlName="prepdiscontinuereason"
                                required>
                                <mat-option [value]=""></mat-option>
                                <mat-option *ngFor="let Option of PrepDiscontinueReasonOptions" [value]="Option.itemId"
                                    (onSelectionChange)="OnPrepSpecifyReason($event)">
                                    {{Option.itemDisplayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="col-md-12">
                            <textarea formControlName="SpecifyDiscontinueReason" matInput
                                placeholder="Specify"></textarea>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-title">
                        <span class="primary">
                            Appointment Scheduler
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                            <mat-label>Apointment Given?</mat-label>
                            <mat-select id="nextAppointmentGiven" name="nextAppointmentGiven"
                                formControlName="nextAppointmentGiven" required>
                                <mat-option [value]=""></mat-option>
                                <mat-option *ngFor="let yesnoOption of AppointmentGivenOptions"
                                    [value]="yesnoOption.itemId" (onSelectionChange)="onAppointmentSelection($event)">
                                    {{ yesnoOption.itemName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                            <mat-label>Apointment Reason?</mat-label>
                            <mat-select id="AppointmentReason" name="AppointmentReason"
                                formControlName="AppointmentReason" required>
                                <mat-option [value]=""></mat-option>
                                <mat-option *ngFor="let Option of PrepAppointmentReasonOptions"
                                    [value]="Option.itemName">
                                    {{ Option.itemName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                            <mat-label>Next appointment date:</mat-label>
                            <input formControlName="nextAppointmentDate" [min]="maxDate" id="nextAppointmentDate"
                                name="nextAppointmentDate" matInput (focus)="nextAppointmentDate.open()"
                                [matDatepicker]="nextAppointmentDate">
                            <mat-datepicker-toggle matSuffix [for]="nextAppointmentDate"></mat-datepicker-toggle>
                            <mat-datepicker #nextAppointmentDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                            <mat-label>Remarks:</mat-label>
                            <textarea matInput id="Remarks" name="Remarks" formControlName="Remarks"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <button mat-raised-button class="mat-primary" (click)="Submit()">Save
                    </button>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <button mat-raised-button class="mat-warn" (click)="Cancel()">Cancel</button>

                </div>
            </div>




        </form>
    </div>

</div>