<div class="mat-elevation-z1">
  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="test">
        <th mat-header-cell *matHeaderCellDef> <strong>Lab Test</strong> </th>
        <td mat-cell *matCellDef="let lab_test_data"> {{labTestData.test}} </td>
      </ng-container>
    
      <ng-container matColumnDef="orderReason">
        <th mat-header-cell *matHeaderCellDef><strong>Order Reason</strong>  </th>
        <td mat-cell *matCellDef="let lab_test_data"> {{labTestData.orderReason }} </td>
      </ng-container>
    
      <ng-container matColumnDef="testNotes">
        <th mat-header-cell *matHeaderCellDef> <strong> Notes </strong>  </th>
        <td mat-cell *matCellDef="let lab_test_data"> {{labTestData.testNotes}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-cell *matCellDef="let row">
            <button mat-raised-button class="mat-accent"><span class="fa fa-trash-o"> Delete</span>
            </button>
        </mat-cell>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="labOrderTests_displaycolumns"></tr>
      <tr mat-row *matRowDef="let row; columns: labOrderTests_displaycolumns;"></tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>