<div class="col-md-12 col-xs-12 col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content-header">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <i class="fa fa-user fa-2x pull-left"></i>Mark Kimani Omolo
                    </div>

                    <div class="col-md-12 col-xs-12 col-sm-12">
                        Male
                    </div>
                </div>

                <div class="col-md-5 col-xs-5 col-sm-5">
                    <h4 class="no-margins">
                        Enrollment No: 12618-12345</h4>
                        <h4 class="no-margins">
                            Age: 17 Year(s) 2 Month(s)</h4>
                            <h4 class="no-margins">Marital Status: UNKNOWN</h4>
                </div>

                

                <div class="col-md-4 col-xs-4 col-sm-4">
                    <h4 class="no-margins">
                        Enrollment Date: 12-Dec-2017</h4>
                        <h4 class="no-margins">
                            Patient Type: NEW</h4>
                            <h4 class="no-margins">Patient Status: Patient Active</h4>
                </div>

            </div>
        </div>
    </div>
</div>