<form class="form-group" novalidate [formGroup]="ReferralFormGroup">
    <div class="row">
        <div class="col-md-12">
            <div class="form-title">
                <span class="primary">Patient Refferals </span>
            </div>
        </div>

        <div class="col-md-12">

            <div class="col-md-4 col-xs-12 col-sm-12">
                <mat-form-field >
                    <mat-select class="col-lg-12 col-xs-12 col-sm-6" formControlName="referredFrom"  placeholder="Reffered from ">
                        <mat-option  *ngFor="let referral of referrals" [value]="referral.itemId">
                            {{referral.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <mat-form-field >
                    <mat-select formControlName="referredTo"  placeholder="Referred to">
                        <mat-option  *ngFor="let referral of referrals" [value]="referral.itemId">
                            {{referral.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4"></div>
        </div>



            <div class="col-md-12">
                <div class="form-title">
                    <span class="primary">Patient Next Appointment </span>
                </div>
            </div>



            <div class="col-md-4 col-sm-12 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-select placeholder="Scheduled an Appointment" formControlName="scheduledAppointment" required >
                        <mat-option *ngFor="let yesno of yesnos" [value]="yesno.itemId">
                            {{yesno.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <mat-form-field class="col-md-8">
                        <input  formControlName="nextAppointmentDate" matInput [matDatepicker]="nextAppointmentDate" placeholder="Next appointment Date">
                        <mat-datepicker-toggle matSuffix [for]="nextAppointmentDate"></mat-datepicker-toggle>
                        <mat-datepicker #nextAppointmentDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-2 col-xs-12 col-sm-4"></div>

                <div class="col-md-2 col-xs-12 col-sm-4">
                    <button mat-raised-button class="mat-accent"> End Encounter</button>
                </div>
            </div>



        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-12">
                    <textarea formControlName="serviceRemarks" matInput placeholder="Service Remarks" required></textarea>
                </mat-form-field>
            </div>
        </div>

</form>
<div class="row">
    <div class="col-md-12">
        <div>
            <button mat-raised-button  class="mat-primary" mat-button matStepperNext style="margin-right:5px" (click)="moveNextStep()">Check </button>
        </div>
    </div>
</div>