<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">View Person</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="databox databox-graded">
                            <div class="databox-right padding-top-20 bg-whitesmoke">
                                <div class="databox-stat palegreen radius-bordered">
                                    <i class="stat-icon glyphicon glyphicon-plus"></i>
                                </div>
                                <div class="databox-text darkgray">MATT CHEUVRONT</div>
                                <div class="databox-text darkgray">Full Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-12">
                        <div class="databox databox-graded">
                            <div class="databox-right padding-top-20 bg-whitesmoke blueberry">
                                <div class="databox-stat palegreen radius-bordered">
                                    <i class="stat-icon glyphicon glyphicon-plus"></i>
                                </div>
                                <div class="databox-text darkgray">10 YRS 5 MONTHS</div>
                                <div class="databox-text darkgray">Age</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-12">
                        <div class="databox databox-graded">
                            <div class="databox-right padding-top-20 bg-whitesmoke">
                                <div class="databox-stat palegreen radius-bordered">
                                    <i class="stat-icon glyphicon glyphicon-plus"></i>
                                </div>
                                <div class="databox-text darkgray">MARRIED</div>
                                <div class="databox-text darkgray">Marital Status</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-12">
                        <div class="databox databox-graded">
                            <div class="databox-right padding-top-20 bg-whitesmoke">
                                <div class="databox-stat palegreen radius-bordered">
                                    <i class="stat-icon glyphicon glyphicon-plus"></i>
                                </div>
                                <div class="databox-text darkgray">MATT CHEUVRONT</div>
                                <div class="databox-text darkgray">First Name</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>