<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">HTS Enrollment</span>
            </div>
            <div class="widget-body">
                <form [formGroup]="form">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                <mat-form-field>
                                    <input placeholder="Enrollment Date" matInput [matDatepicker]="myDatepicker"
                                        [max]="maxDate" [min]="minDate" (focus)="myDatepicker.open()"
                                        formControlName="EnrollmentDate" required>
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker name="EnrollmentDate" ngDefaultControl>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                <label>Select Population type</label>
                                <div>
                                    <mat-radio-group formControlName="populationType" [required]="true"
                                        (change)="onPopulationTypeChange()">
                                        <mat-radio-button [value]="1" required>General Population</mat-radio-button>
                                        <mat-radio-button [value]="2" required>Key Population</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                <mat-form-field>
                                    <mat-select placeholder="Key Population" formControlName="KeyPopulation"
                                        disableRipple multiple required>
                                        <mat-option *ngFor="let keyPop of keyPops" [value]="keyPop.itemId">
                                            {{keyPop.itemDisplayName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                <mat-form-field>
                                    <mat-label>HTS Number</mat-label>
                                    <input matInput id="HTS_EnrollmentNumber" formControlName="EnrollmentNumber"
                                        name="HTS_EnrollmentNumber" required>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                <label>Priority Population</label>
                                <div>
                                    <mat-radio-group formControlName="priorityPop" [required]="true"
                                        (change)="onPriorityChange()">
                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                        <mat-radio-button [value]="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                <mat-form-field>
                                    <mat-select placeholder="Priority Population" formControlName="priorityPopulation"
                                        disableRipple multiple required>
                                        <mat-option *ngFor="let option of priorityPops" [value]="option.itemId">
                                            {{option.itemDisplayName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                &nbsp;
                            </div>

                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                <label>Discordant Couple</label>
                                <div>
                                    <mat-radio-group formControlName="discordantPopulation" [required]="true"
                                        >
                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                        <mat-radio-button [value]="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                        </div>

                        <div>
                            &nbsp;
                        </div>

                        <div class="row">
                            <button mat-raised-button color="primary" type="submit"
                                (click)="submitEnrollment()">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>