<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/IQCare/Home/Default.aspx">Facility Home</a>
        </li>
        <!--<li class="active">Dashboard</li>-->
    </ul>

    <ul class="breadcrumb">
        <li>
            <i class="glyphicon glyphicon-font"></i>
            <a href="{{afyaMobileUrl}}">
                Afya-Mobile Dashboard
            </a>
        </li>
        <!--<li class="active">Dashboard</li>-->
    </ul>
</div>
<!-- /Page Breadcrumb -->