<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/IQCare/Home/Default.aspx">Facility Home</a>
        </li>

        <li>
            <i class="fa fa-calendar fa-1x text-muted"></i>
            <a href="/IQCare/Scheduler/frmScheduler_AppointmentMain.aspx">Scheduler</a>
        </li>

        <li>
            <i class="fa fa-cogs fa-1x text-muted"></i>
            <a href="/IQCare/AdminForms/frmAdmin_FacilityList.aspx">Facility Setup</a>
        </li>

        <li>
            <i class="fa fa-database fa-1x text-muted"></i>
            <a href="/IQCare/AdminForms/frmDBBackup.aspx">Database Backup</a>
        </li>
        <!--<li class="active">Dashboard</li>-->
    </ul>

    <ul class="breadcrumb">
        <li>
            <i class="glyphicon glyphicon-font"></i>
            <a href="{{afyaMobileUrl}}">
                Afya-Mobile Dashboard
            </a>
        </li>
        <!--<li class="active">Dashboard</li>-->
    </ul>
</div>
<!-- /Page Breadcrumb -->