.levelOneMenu
{  
	font-size: 10px;font-family: arial, helvetica, verdana, sans-serif;
	background-color:#CCCCFF;
    text-align:center;
    border: solid 0px #ffffff !important;
    z-index: 1;
}
.levelOneMenuHover
{
	color:#FFFFFF;
	background-color:#9999CC;
}
.levelOneDropDown {
	padding-right: 5px; border-top: #666699 1px solid; padding-left: 5px; font-weight: bold; font-size: 10px; padding-bottom: 0px; color: #000066 !important; padding-top: 0px;
	border-bottom: 0px; font-family: arial,helvetica,sans-serif; background-color: #9999CC; z-index: 1; text-decoration: none !important;
}
.levelOneDropDownHover {
	padding-right: 5px; border-top: #666699 1px solid; padding-left: 5px; font-weight: bold; font-size: 10px; padding-bottom: 0px; color: #000066; padding-top: 0px;
	border-bottom: 0px; font-family: arial,helvetica,sans-serif; background-color: #ccccff;
}
.levelOneButton {
	padding-right: 5px; font-size: 10px;font-family: arial, helvetica, verdana, sans-serif; padding-left: 5px; border-left: #666699 1px solid; border-top:#666699 1px solid; color: #000066; padding-top: 6px; height: 26px; text-decoration: none;
	padding-bottom: 5px;
}
a.levelOneButton {
	padding-right: 5px; font-size: 10px;font-family: arial, helvetica, verdana, sans-serif; padding-left: 5px; border-left: #666699 1px solid; color: #000066; padding-top: 6px; height: 26px; text-decoration: none; padding-bottom: 5px;
}
a.levelOneButton:link {
	padding-right: 5px; font-size: 10px;font-family: arial, helvetica, verdana, sans-serif; padding-left: 5px; border-left: #666699 1px solid; color: #000066; padding-top: 6px; height: 26px; text-decoration: none; padding-bottom: 5px;
}
a.levelOneButton:active {
	padding-right: 5px; font-size: 10px;font-family: arial, helvetica, verdana, sans-serif; padding-left: 5px; border-left: #666699 1px solid; color: #000066; padding-top: 6px; height: 26px; text-decoration: none; padding-bottom: 5px;
}
a.levelOneButton:visited {
	padding-right: 5px; font-size: 10px;font-family: arial, helvetica, verdana, sans-serif; padding-left: 5px; border-left: #666699 1px solid; color: #000066; padding-top: 6px; height: 26px; text-decoration: none; padding-bottom: 5px;
}
a.levelOneButton:hover {
	padding-right: 5px; font-size: 10px;font-family: arial, helvetica, verdana, sans-serif; padding-left: 5px; border-left: #666699 1px solid; color: #000066; padding-top: 6px; height: 26px; text-decoration: none; padding-bottom: 5px;
}
a.levelOneButton:hover {
	color: #000000; background-color: #9999cc
}

.levelTwoMenu
{
	background-color: #666699;
    text-align:center;
    font-size:6px;     
    font-family: arial, helvetica, verdana, sans-serif;
   
    
}
.levelTwoDropDown {
	padding-right: 5px; border-left: #666699 1px solid; border-right: #666699 1px solid; padding-left: 5px; font-weight: bold; font-size: 6px; padding-bottom: 0px;
	color: Black !important; padding-top: 0px; border-bottom: #666699 1px solid; font-family: arial, helvetica, verdana, sans-serif; background-color: #CCCCCC; text-decoration:none !important;
}
.levelTwoDropDownHover {
	padding-right: 5px; border-top: #fff 1px solid; padding-left: 5px; font-weight: bold; font-size: 6px; padding-bottom: 0px; color: White !important; padding-top: 0px;
	border-bottom: 0px; font-family: arial, helvetica, verdana, sans-serif; background-color: #666699; text-decoration: underline;
}
.levelTwoButton {
	border-right: #fff 1px solid; font-size:6px; color: #fff; text-decoration:none;font-family: arial, helvetica, verdana, sans-serif; 
}
.levelTwoButton:link {
	border-right: #fff 1px solid; font-size:6px; color: #fff; text-decoration:none;font-family: arial, helvetica, verdana, sans-serif;text-decoration: none;
}
.levelTwoButton:active {
	border-right: #fff 1px solid; font-size:6px; color: #fff; text-decoration:none;font-family: arial, helvetica, verdana, sans-serif;text-decoration: none;
}
.levelTwoButton:visited {
	border-right: #fff 1px solid; font-size:6px; color: #fff; text-decoration:none;font-family: arial, helvetica, verdana, sans-serif;text-decoration: none;
}
.levelTwoButton:hover {
	border-right: #fff 1px solid; font-size:6px; color: #fff;font-family: arial, helvetica, verdana, sans-serif;text-decoration: none;
}
.levelTwoMenuHover
{
	color:#fff;
	text-decoration:underline !important;font-family: arial, helvetica, verdana, sans-serif;
}


.usernameLevel1 {
	padding-left: 15px; font-weight: bold; font-size: 11px; z-index: 0; left: 0px; width: 300px; color: #00009B; padding-top: 1px; font-family: arial,helvetica,sans-serif; 
	position: absolute; top: 150px; height: 16px; background-color: #ccccff; border-left: #666699 1px solid; border-bottom: #666699 1px solid;
}

.currentdateLevel1 {
	padding-right: 12px; font-weight: bold; font-size: 11px;z-index: 0; left: 0px; width: 228px; font-family: arial,helvetica,sans-serif;
	background-color: #CCCCFF; text-align: right;color:#00009B; position:absolute; top:150px; height:17px; left: 290px;border-bottom: #666699 1px solid;
}

.facilityLevel1 {
	font-weight: bold; font-size: 16px; z-index: 0; left: 652px; width: 250px; color: #000066; font-family: arial,helvetica,sans-serif; text-align: center;
	position:absolute; top:150px;
}
.userNameLevel2 {
	padding-left: 15px; font-weight: bold; font-size: 11px; z-index: 0; left: 0px; width: 250px; color: #00009B; padding-top: 1px; font-family: arial,helvetica,sans-serif; 
	position: absolute; top: 63px; height: 16px; background-color: #ccccff; border-bottom: #666699 1px solid;border-left: #666699 1px solid; 
}
.currentDateLevel2 {
	padding-right: 12px; font-weight: bold; font-size: 11px;z-index: 0; width: 315px; font-family: arial,helvetica,sans-serif;
	background-color: #CCCCFF; text-align: right;color:#00009B; position:absolute; top:63px; height:17px; left: 255px; border-bottom: #666699 1px solid;
}
.imageFlipLevel2 {
	left: 580px; top: 63px; height:17px; position:absolute;
}
.facilityLevel2 {
	font-weight: bold; font-size: 16px; z-index: 0; left: 620px; width: 330px; color: #000066; font-family: arial,helvetica,sans-serif; text-align: center;
	position:absolute; top:68px;
}

#mainMaster {
	border-right: #666699 1px solid; border-top: #666699 1px solid; border-bottom: #666699 1px solid; border-left: #666699 1px solid;
	z-index: 1; left: 0px;  width: 1050px; padding-top: 0px;
}

#containerMaster {
	z-index: 1; margin: 0px auto; width: 1050px; position: relative; text-align: left; height:auto;
}
 
 
.textarea
{
	resize:none;
}
