<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-left">
                        <span class="widget-caption">SEARCH</span>
                    </div>
                    <div class="widget-body bordered-left">
                        <form class="form-inline" role="form">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="identifierNumber">Identifier Number</label>
                                        <input type="text" class="form-control" id="identifierNumber" name="identifierNumber" placeholder="Identifier Number" tabindex="1"
                                            [(ngModel)]="clientSearch.identifierValue" #identifierValue="ngModel" (keyup)="OnKeyUp($event)">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="fullName">Full Name</label>
                                        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" tabindex="2" [(ngModel)]="clientSearch.fullName"
                                            #fullName="ngModel" (keyup)="OnKeyUp($event)">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        &nbsp;
                    </div>

                    <div class="example-container mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                            <!-- identifierValue Column -->
                            <ng-container matColumnDef="identifierValue">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Identifier Value. </th>
                                <td mat-cell *matCellDef="let element"> {{element.identifierValue}} </td>
                            </ng-container>

                            <!-- First Name Column -->
                            <ng-container matColumnDef="firstName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                            </ng-container>

                            <!-- Middle Name Column -->
                            <ng-container matColumnDef="middleName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
                            </ng-container>

                            <!-- Last Name Column -->
                            <ng-container matColumnDef="lastName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                            </ng-container>

                            <!-- Date Of Birth Column -->
                            <ng-container matColumnDef="dateOfBirth">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Birth </th>
                                <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date: 'dd-MMM-yyyy'}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[3, 5, 10, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>