<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption"> PMTCT | MATERNITY WORKFLOW </span>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-6 col-xs-12">
                                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                                    <mat-step [completed]="false" [stepControl]="visitDetailsFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Visit Details">Visit Details</span>
                                        </ng-template>
                                        <app-hei-visit-details (notify)="onVisitDetailsNotify($event)" [formtype]="formType"></app-hei-visit-details>
                                        <app-mother-profile (notify)="OnMotherProfileNotify($event)"></app-mother-profile>
                                        <div>
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>
                                    <mat-step [completed]="false" [stepControl]="motherProfileFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Diagnosis">Diagnosis</span>
                                        </ng-template>
                                        <app-diagnosis (notify)="onPatientDiagnosis($event)"></app-diagnosis>
                                        <div>
                                            <app-delivery-maternity (notify)="onPatientDeliveryNotify($event)" ></app-delivery-maternity>
                                        </div>
                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="babyFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Baby Section">Baby Section</span>
                                        </ng-template>
                                        <app-baby (notify)="onBabyNotify($event)"></app-baby>

                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="maternityTestsFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Maternity Tests">Maternity Tests</span>
                                        </ng-template>
                                        <app-mternity-tests (notify)="onMaternityTests($event)"></app-mternity-tests>

                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="maternityTestsFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Maternal Drug Administration">Maternal Drug Administration</span>
                                        </ng-template>
                                        <app-maternal-drug-administration (notify)="onMaternalDrugAdministration($event)"></app-maternal-drug-administration>
                                        <div >
                                            <app-partner-testing (notify)="onPartnerTestingNotify($event)"></app-partner-testing>
                                        </div>
                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>


                                </mat-horizontal-stepper>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>