<h2 mat-dialog-title>{{dialogTitle}}</h2>
<mat-dialog-content>
 <form class="form-group" novalidate [formGroup]="vitalsFormGroup">
      <div class="row">
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input [max]="maxDate" matInput [matDatepicker]="picker2" formControlName="visitDate"
                      placeholder="Visit Date" required (click)="picker2.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 ngDefaultControl></mat-datepicker>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="form-title">
                  <span class="mat-accent"> Anthropometric Measurements </span>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Height (cm)"  (change)="calculateZscore()" formControlName="height" required>
              </mat-form-field>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Weight (kgs)" formControlName="weight"
                   (change)="calculateZscore()"
                      required>
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="BMI" formControlName="bmi" required>
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Head Circumference" formControlName="headCircumference">
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="MUAC(cm)" formControlName="muac">
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Weight for age zscore" formControlName="weightForAge">
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Weight for height zscore" formControlName="weightForHeight">
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="BMI Zscore" formControlName="bmiZ">
              </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="form-title">
                  <span class="mat-accent"> Vital Signs </span>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Systolic BP(mmHg)" formControlName="bpSystolic" required>
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Diastolic BP (mmHg)" formControlName="bpDiastolic"
                      required>
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Temperature (℃)" formControlName="temperature" required>
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Respiratory Rate(bpm)" formControlName="respiratoryRate">
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="Heart Rate(bpm)" formControlName="heartRate">
              </mat-form-field>
          </div>
          <div class="col-lg-3 col-xs-12">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="SPO2 (%)" formControlName="spo2">
              </mat-form-field>
          </div>

      </div>

      <div class="row">
          <div class="col-lg-8 col-xs-12">
              <mat-form-field class="col-lg-12">
                  <textarea matInput placeholder="Nurse Comments" formControlName="comment"> </textarea>
              </mat-form-field>
          </div>
      </div>
  </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" *ngIf="!isEdit" [disabled] ="!vitalsFormGroup.valid" (click)="SubmitPatientVitalInfo()">Save</button>
    <button class="mat-raised-button mat-primary" *ngIf="isEdit" [disabled] ="!vitalsFormGroup.valid" (click)="UpdatePatientVitalInfo()">Update</button>
</mat-dialog-actions>