<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">HTS-TESTING FORM</span>
            </div>
            <div class="widget-body bordered-left">
                <app-clientbrief></app-clientbrief>

                <div>
                    &nbsp;
                </div>

                <form [formGroup]="form">
                    <fieldset>
                        <div class="form-title">
                            <span class="mat-accent"><strong>EDIT-TESTING</strong></span>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                    <mat-label>Screening Test Result</mat-label>
                                    <mat-select formControlName="finalResultHiv1">
                                        <mat-option [value]=""></mat-option>
                                        <mat-option *ngFor="let hivResultsOption of hivResultsOptions"
                                            [value]="hivResultsOption.itemId"
                                            (onSelectionChange)="onHivResultsChange($event)">
                                            {{hivResultsOption.itemName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error *ngIf="!form.controls['finalResultHiv1'].valid">Please select Screening
                                    Result</mat-error>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                    <mat-label>Confirmatory Test Result</mat-label>
                                    <mat-select formControlName="finalResultHiv2">
                                        <mat-option [value]=""></mat-option>
                                        <mat-option *ngFor="let option of hivResultsOptions" [value]="option.itemId"
                                            (onSelectionChange)="onHivResults2Change($event)">{{option.itemName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error *ngIf="!form.controls['finalResultHiv2'].valid">
                                    Please select Confirmatory Test Result
                                </mat-error>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12" appNoneEvents>
                                    <mat-label>Final Result</mat-label>
                                    <mat-select formControlName="finalResult">
                                        <mat-option [value]=""></mat-option>
                                        <mat-option *ngFor="let option of hivFinalResultsOptions"
                                            [value]="option.itemId">{{option.itemName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error *ngIf="(!form.valid) && (!form.controls['finalResult'].valid)">
                                    Please select Final Result
                                </mat-error>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                    <mat-label>Final Result Given?</mat-label>
                                    <mat-select formControlName="finalResultGiven">
                                        <mat-option [value]=""></mat-option>
                                        <mat-option *ngFor="let option of yesNoOptions" [value]="option.itemId">
                                            {{option.itemName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error *ngIf="(!form.valid) && (!form.controls['finalResultGiven'].valid)">
                                    Please select Final Result Given
                                </mat-error>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                    <mat-label>Couple Discordant?</mat-label>
                                    <mat-select formControlName="coupleDiscordant">
                                        <mat-option [value]=""></mat-option>
                                        <mat-option *ngFor="let option of yesNoNA" [value]="option.itemId">
                                            {{option.itemName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error *ngIf="(!form.valid) && (!form.controls['coupleDiscordant'].valid)">
                                    Please select couple discordant {{ form.controls.coupleDiscordant.valid }}
                                </mat-error>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3">

                                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                    <mat-label>Remarks</mat-label>
                                    <textarea matInput placeholder="Remarks" id="remarks" name="remarks"
                                        formControlName="finalResultsRemarks"></textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                    <mat-label>Accepted to partner listing</mat-label>
                                    <mat-select formControlName="acceptedPartnerListing">
                                        <mat-option [value]=""></mat-option>
                                        <mat-option *ngFor="let option of yesNoNA" [value]="option.itemId"
                                            (onSelectionChange)="onAcceptedToListPartnersChange($event)">
                                            {{option.itemName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error *ngIf="(!form.valid) && (!form.controls['acceptedPartnerListing'].valid)">
                                    Please select Accepted to list partners
                                </mat-error>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                    <mat-label>Reasons for decline to partner listing</mat-label>
                                    <mat-select formControlName="reasonsDeclinePartnerListing">
                                        <mat-option [value]=""></mat-option>
                                        <mat-option *ngFor="let option of reasonsDeclined" [value]="option.itemId">
                                            {{option.itemName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error
                                    *ngIf="(!form.valid) && (!form.controls['reasonsDeclinePartnerListing'].valid)">
                                    Please select Reasons for decline to partner listing
                                </mat-error>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">
                                        <strong>Save Edit</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>