<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class='widget'>
        <div class="widget-header bordered-bottom bordered-blue">
            <span class="widget-caption">Behaviour Risk Assessment Form</span>
        </div>
        <div class="widget-body">
            <form [formGroup]="PrepRiskAssessmentFormGroup">
                <div class="row">
                    <mat-form-field class="col-lg-6">
                        <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate" (focus)="picker.open()"
                            formControlName="visitDate" [min]="minDate" required placeholder="Choose Visit Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-title">
                            <span class="primary">
                                Risk assessment Questions
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <mat-form-field class="col-lg-12">
                                <mat-select class="col-lg-12 col-xs-12 col-sm-6"
                                    placeholder="Sex partner(s) is HIV+ and(select all that apply)"
                                    formControlName="sexualPartnerHivStatus" disableRipple multiple required>
                                    <mat-option *ngFor="let sexualoption of sexualPartnerHivStatusOptions"
                                        [value]="sexualoption.itemId"
                                        (onSelectionChange)="OnSexualPartnerSelection($event)">
                                        {{sexualoption.itemDisplayName}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <mat-form-field class="col-lg-12">
                                <mat-select placeholder="Client Assessment(select all that apply)"
                                    formControlName="clientsBehaviourRisks" disableRipple multiple required>
                                    <mat-option *ngFor="let clientassessmentoption of clientsBehaviourRiskOptions"
                                        [value]="clientassessmentoption.itemId"
                                        (onSelectionChange)="OnClientAssessmentSelection($event)">
                                        {{clientassessmentoption.itemDisplayName}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <mat-form-field class="col-lg-12">
                                <mat-select placeholder="AssessmentOutcome" formControlName="assessmentOutCome"
                                    required>
                                    <mat-option [value]=""></mat-option>
                                    <mat-option *ngFor="let yesNoOption of assessmentOutComeOptions"
                                        [value]="yesNoOption.itemId" (onSelectionChange)="OnAdherenceOutcome($event)">
                                        {{yesNoOption.itemDisplayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12 col-sm-12">

                            <mat-form-field class="col-lg-12">

                                <mat-select placeholder="Risk Reduction Education Offered"
                                    formControlName="RiskReductionEducation" required>
                                    <mat-option [value]=""
                                        (onSelectionChange)="OnRiskReductionEducationOffered($event)"></mat-option>
                                    <mat-option *ngFor="let yesNoOption of  RiskReductionEducationOptions"
                                        [value]="yesNoOption.itemId"
                                        (onSelectionChange)="OnRiskReductionEducationOffered($event)">
                                        {{yesNoOption.itemDisplayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <mat-form-field class="col-md-12">
                                <!-- <textarea formControlName="SpecifyRiskReductionEducation" matInput
                                    placeholder="Specify"></textarea>-->
                                <mat-select placeholder="Specify" formControlName="SpecifyRiskReductionEducation"
                                    required disableRipple multiple required>


                                    <mat-option *ngFor="let Option of  SpecifyRiskReductionEdOptions"
                                        [value]="Option.itemId">
                                        {{Option.itemDisplayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12 col-sm-12">

                            <mat-form-field class="col-lg-12">

                                <mat-select placeholder="Referral For Other Prevention Services"
                                    formControlName="ReferralPreventions" required>
                                    <mat-option [value]="" (onSelectionChange)="OnReferralPreventionOffered($event)">
                                    </mat-option>
                                    <mat-option *ngFor="let Option of   ReferralPreventionOptions"
                                        [value]="Option.itemId"
                                        (onSelectionChange)="OnReferralPreventionOffered($event)">
                                        {{Option.itemDisplayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12">
                            <mat-form-field class="col-md-4 col-xs-12 col-sm-12">
                                <!--<textarea formControlName="SpecifyPreventionReferalServices" matInput
                                    placeholder="Specify"></textarea>-->


                                <mat-select placeholder="Specify" formControlName="SpecifyPreventionReferalServices"
                                    required disableRipple multiple required>


                                    <mat-option *ngFor="let Option of  SpecifyReferralOptions" [value]="Option.itemId">
                                        {{Option.itemDisplayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-title">
                            <span class="primary">
                                Willingness assessment
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-xs-12 col-sm-12">

                            <mat-form-field class="col-lg-12">

                                <mat-select placeholder="Client willing to take PrEP?"
                                    formControlName="ClientWillingTakePrep" required>
                                    <mat-option [value]="" (onSelectionChange)="OnClientWillingTakingPrep($event)">
                                    </mat-option>
                                    <mat-option *ngFor="let Option of   clientWillingTakePrepOptions"
                                        [value]="Option.itemId" (onSelectionChange)="OnClientWillingTakingPrep($event)">
                                        {{Option.itemDisplayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-12">

                            <mat-form-field class="col-lg-12">

                                <mat-select placeholder="If No,Risk education Offered?" formControlName="RiskEducation">
                                    <mat-option [value]="" (onSelectionChange)=" OnRiskEducationOffered($event)">
                                    </mat-option>
                                    <mat-option *ngFor="let Option of    riskEducationOptions" [value]="Option.itemId"
                                        (onSelectionChange)=" OnRiskEducationOffered($event)">
                                        {{Option.itemDisplayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class='col-md-4 col-xs-12 col-sm-12'>
                            <mat-form-field class="col-lg-12">
                                <mat-select placeholder="Reason not willing to take prep"
                                    formControlName="discontinueReason" disableRipple multiple required>

                                    <mat-option *ngFor="let Option of careendreasonarray" [value]="Option.itemId">
                                        {{Option.itemDisplayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="col-md-4 col-xs-12 col-sm-12">
                                <!--<textarea formControlName="SpecifyRiskEducation" matInput
                                    placeholder="Specify"></textarea>-->

                                <mat-select placeholder="Specify" formControlName="SpecifyRiskEducation" disableRipple
                                    multiple>


                                    <mat-option *ngFor="let Option of  SpecifyRiskEducOptions" [value]="Option.itemId">
                                        {{Option.itemDisplayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="col-md-12">
                                <textarea formControlName="ClinicalNotes" matInput
                                    placeholder="Clinical Notes"></textarea>
                            </mat-form-field>
                        </div>
                    </div>



                </div>




                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <button mat-raised-button class="mat-primary" (click)="submit()">Save
                        </button>
                    </div>

                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <button mat-raised-button class="mat-warn" (click)="Cancel()">Cancel</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>