<form class="form-group" novalidate [formGroup]="babyFormGroup">

    <div class="row">
        <div class="col-md-12">
            <div class="form-title">
                <span class="mat-accent">Baby Section </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label >Baby Sex</mat-label>
                <mat-select formControlName="babySex" required minlength="1">
                    <mat-option [value]="0">select</mat-option>
                    <mat-option *ngFor="let genderOption of genderOptions" [value]="genderOption">
                        {{genderOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
            <mat-form-field class="col-md-12">
                <input matInput placeholder="Birth Weight (kgs)" formControlName="birthWeight" required>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label >Outcome</mat-label>
                <mat-select formControlName="outcome" required >
                    <mat-option [value]="0">select</mat-option>
                    <mat-option *ngFor="let birthOutcome of birthOutcomes" [value]="birthOutcome">
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-xs-12"></div>
    </div>
    <div class="row">
            <div class="col-lg-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label >Resuscitation done</mat-label>
                    <mat-select formControlName="resuscitationDone" required minlength="1">
                        <mat-option [value]="0">select</mat-option>
                        <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption">
                            {{yesnoOption.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label >Birth with deformity</mat-label>
                    <mat-select formControlName="deformity" required minlength="1">
                        <mat-option [value]="0">select</mat-option>
                        <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption" >
                            {{yesnoOption.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label >TEO given</mat-label>
                    <mat-select formControlName="teoGiven" required minlength="1">
                        <mat-option [value]="0">select</mat-option>
                        <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption">
                            {{yesnoOption.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label >Breast Fed < 1 hour</mat-label>
                    <mat-select formControlName="breastFed" required minlength="1">
                        <mat-option [value]="0">select</mat-option>
                        <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption" >
                            {{yesnoOption.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

    </div>

    <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-12">
                <mat-form-field class="col-md-12">
                    <input matInput placeholder="APGAR score 1 min" formControlName="agparScore1min" required>
                </mat-form-field>
            </div>

            <div class="col-md-3 col-xs-12 col-sm-12">
                <mat-form-field class="col-md-12">
                    <input matInput placeholder="APGAR score 5 min" formControlName="agparScore5min" required>
                </mat-form-field>
            </div>

            <div class="col-md-3 col-xs-12 col-sm-12">
                <mat-form-field class="col-md-12">
                    <input matInput placeholder="APGAR score 10 min" formControlName="agparScore10min" required>
                </mat-form-field>
            </div>
        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <input matInput placeholder="Birth Notification Number" formControlName="notificationNumber" required>
            </mat-form-field>
        </div>
    </div>
     <div class="row">
         <div class="col-lg-8 col-xs-12">
             <mat-form-field class="col-lg-12">
                 <input matInput placeholder="Comments" formControlName="comment" required>
             </mat-form-field>
         </div>

     </div>

    <div class="row">
        <div class="col-lg-4 col-xs-12"></div>
        <div class="col-lg-4 col-xs-12">

            <button mat-raised-button class="mat-primary"><span class="fa fa-plus-circle" (click)="AddBaby()"> Add Baby Details</span></button>

        </div>
        <div class="col-lg-4 col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="example-container mat-elevation-z0">

                <mat-table #table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="sex">
                        <mat-header-cell *matHeaderCellDef><strong>Sex</strong>  </mat-header-cell>
                        <mat-cell *matCellDef="let babyDataTable"> {{babyDataTable.sex}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="birthWeight">
                        <mat-header-cell *matHeaderCellDef> Birth Weight (gms) </mat-header-cell>
                        <mat-cell *matCellDef="let babyDataTable"> {{babyDataTable.birthWeight }} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="outcome">
                        <mat-header-cell *matHeaderCellDef> <strong>Outcome</strong>  </mat-header-cell>
                        <mat-cell *matCellDef="let babyDataTable"> {{babyDataTable.outcome}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="apgarScore">
                        <mat-header-cell *matHeaderCellDef><strong>Apgar Score</strong>  </mat-header-cell>
                        <mat-cell *matCellDef="let babyDataTable"> {{babyDataTable.apgarScore}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="resuscitation">
                        <mat-header-cell *matHeaderCellDef><strong>Resuscitate</strong>  </mat-header-cell>
                        <mat-cell *matCellDef="let babyDataTable"> {{babyDataTable.resuscitate}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="deformity">
                        <mat-header-cell *matHeaderCellDef><strong>Deformity</strong>  </mat-header-cell>
                        <mat-cell *matCellDef="let babyDataTable"> {{babyDataTable.deformity}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="teo">
                        <mat-header-cell *matHeaderCellDef><strong>TEO</strong>  </mat-header-cell>
                        <mat-cell *matCellDef="let babyDataTable"> {{babyDataTable.teo}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="breastFeeding">
                        <mat-header-cell *matHeaderCellDef><strong>Breast Feeding</strong>  </mat-header-cell>
                        <mat-cell *matCellDef="let babyDataTable"> {{babyDataTable.breastFeeding}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="comment">
                        <mat-header-cell *matHeaderCellDef><strong>Comment</strong>  </mat-header-cell>
                        <mat-cell *matCellDef="let babyDataTable"> {{babyDataTable.comment}} </mat-cell>
                    </ng-container>


                    <!-- actions -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef><strong class="fa fa-cog"> Action</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-raised-button class="mat-accent"><span class="fa fa-trash-o"> Delete</span> </button>
                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"
                             (click)="onRowClicked(row)" >
                    </mat-row>
                </mat-table>
            </div>
        </div>
    </div>

</form>