<form class="form-group" [formGroup]="PatientAllergiesForm">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="form-title">
                <span class="mat-accent">
                    Chronic Allergies
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Substance Causing Allergy</mat-label>
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let allergy of filteredOptions" [value]="allergy">
                            {{ allergy.itemName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Type of reaction</mat-label>
                    <input type="text" matInput [formControl]="reactionControl" [matAutocomplete]="autoReaction">
                    <mat-autocomplete #autoReaction="matAutocomplete" [displayWith]="displayReactionFn">
                        <mat-option *ngFor="let allergyReaction of reactionOptions" [value]="allergyReaction">
                            {{ allergyReaction.itemName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Severity</mat-label>
                    <mat-select id="severity" name="severity" formControlName="severity" required>
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let severityOption of severityOptions" [value]="severityOption.itemId">
                            {{ severityOption.itemName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-2 col-sm-2 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Onset Date</mat-label>
                    <input formControlName="onSetDate" id="onSetDate" name="onSetDate" matInput
                        (focus)="onSetDate.open()" [matDatepicker]="onSetDate">
                    <mat-datepicker-toggle matSuffix [for]="onSetDate"></mat-datepicker-toggle>
                    <mat-datepicker #onSetDate></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-lg-1 col-sm-1 col-xs-12">
                <div class="button-row">
                    <a mat-raised-button color="primary">
                        <i class="fa fa-plus"></i>
                        <span>Add</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

        </div>
    </div>
</form>