<div class="row">
    <div class="button-row pull-left">
    <button class="mat-raised-button mat-primary" (click)="CheckOut()">Patient CheckOut</button>
    </div> 
    <div class="pull-left">
            <span class="label label-palegreen">
                    CheckInDate(DD-MM-YYY) : {{CheckinDate}}
            </span>
       
    </div>
    <div class="button-row pull-right">
        <a mat-raised-button class="mat-primary" (click)="Back()">
            <i class="fa fa-plus"></i>
            <span>Back</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class='widget'>
            <div class="widget-body no-padding">
                <div class="tickets-container">
                    <ul class="tickets-list">
                        <li class='ticket-item'>
                            <div class="row">
                                <div class="ticket-time  col-lg-2 col-sm-2 col-xs-12">
                                    <span>
                                        <strong>FORM</strong>
                                    </span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span>
                                        <strong>OUTCOME</strong>
                                    </span>
                                </div>

                                <div class="ticket-time  col-lg-2 col-sm-2 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span class="fa fa-cog">
                                        <strong>ACTION</strong>
                                    </span>
                                </div>

                            </div>
                        </li>
                    </ul>
                    <ul class="tickets-list" *ngIf="followupvisible">
                        <li class="ticket-item">
                            <div class="row">
                                <div class="ticket-user col-lg-2 col-sm-3 col-xs-12">
                                    <span>HTS</span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span class="label label-palegreen" *ngIf="htsdone  && (HtsEncountersList.length > 0)">
                                        HTS is Done:<br />
                                        {{HtsEncountersList[0].encounterDate}} :FinalResult: {{HtsEncountersList[0].finalResult}}
                                        
                                    </span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <button mat-raised-button class="btn-sm btn-primary"
                                        (click)="isPersonServiceEnrolled('HTS')">
                                        HTS
                                    </button>

                                </div>

                            </div>
                        </li>
                    </ul>
                    <ul class="tickets-list" *ngIf="followupvisible">
                        <li class="ticket-item">
                            <div class="row">
                                <div class="ticket-user col-lg-2 col-sm-3 col-xs-12">
                                    <span>Vitals</span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span class="label label-palegreen" *ngIf="vitalsdone && vitalsDataTable.length > 0">
                                        Vitals is Done:<br />
                                        {{vitalsDataTable[0].visitDate}} : Weight: {{vitalsDataTable[0].weight}}
                                    </span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <button mat-raised-button class="btn-sm btn-primary" (click)="TriageLink()">
                                        Vitals
                                    </button>

                                </div>

                            </div>
                        </li>
                    </ul>
                    <ul class="tickets-list" *ngIf="followupvisible">
                        <li class="ticket-item">
                            <div class="row">
                                <div class="ticket-user col-lg-2 col-sm-3 col-xs-12">
                                    <span>Risk Assessment</span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span class="label label-palegreen" *ngIf="RiskDone  && riskassessmentlist.length > 0">
                                        RiskAssessment Done:<br />
                                        {{riskassessmentlist[0].visitDate}} 
                                        
                                    </span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <button mat-raised-button class="btn-sm btn-primary" (click)="RiskAssessmentLink()">
                                        Behaviour Risk
                                    </button>

                                </div>

                            </div>
                        </li>
                    </ul>
                    <ul class="tickets-list" *ngIf="followupvisible">
                        <li class="ticket-item">
                            <div class="row">
                                <div class="ticket-user col-lg-2 col-sm-3 col-xs-12">
                                    <span>PrEP Follow Up Visit </span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span class="label label-palegreen" *ngIf="FollowDone  && followuplist.length > 0">
                                        PrEP Follow up Visit Done:<br />
                                        {{followuplist[0].visitDate}} 
                                        
                                    </span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <button mat-raised-button class="btn-sm btn-primary" (click)="FollowupLink()">
                                        Follow Up Visit
                                    </button>

                                </div>

                            </div>
                        </li>
                    </ul>
                    <ul class="tickets-list" *ngIf="monthlyrefillvisible">
                        <li class="ticket-item">
                            <div class="row">
                                <div class="ticket-user col-lg-2 col-sm-3 col-xs-12">
                                    <span>PrEP Monthly Refill Form</span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span class="label label-palegreen" *ngIf="MonthlyrefillDone">
                                        PrEP Monthly Refill Done:<br />
                                        {{refilllist[0].visitDate}} 
                                        
                                    </span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <button mat-raised-button class="btn-sm btn-primary"
                                        (click)="RefillLink()">
                                        PrEP Monthly Refill Form
                                    </button>

                                </div>

                            </div>
                        </li>
                 </ul>

                    <ul class="tickets-list">
                        <li class="ticket-item">
                            <div class="row">
                                <div class="ticket-user col-lg-2 col-sm-3 col-xs-12">
                                    <span>PrEP Discontinuation Form</span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span class="label label-palegreen">

                                    </span>
                                </div>
                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <button mat-raised-button class="btn-sm btn-primary"
                                        (click)="DiscontinuationLink()">
                                        PrEP Discontinuation Form
                                    </button>

                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>