<mat-card>
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-12" *ngIf="!isPCRDone">
            <span class="label label-orange">PCR NOT DONE</span>
        </div>

        <div class="col-lg-3 col-sm-3 col-xs-12">
            <span class="label label-info" [innerHTML]="heiResultsString"></span>
        </div>

        <div class="col-lg-3 col-sm-3 col-xs-12" *ngIf="isPCR_Positive && !isConfirmatoryPCRDone">
            <span class="label label-orange">CONFIRMATORY PCR NOT DONE</span>
        </div>

        <div class="col-lg-3 col-sm-3 col-xs-12" *ngIf="isPCR_Positive && !isBaselineVLDone">
            <span class="label label-orange">BASELINE VL NOT DONE</span>
        </div>

        <div class="col-lg-3 col-sm-3 col-xs-12" *ngIf="isPCR_Positive">
            <span class="label label-orange">ART INITIATION SHOULD BE DONE</span>
        </div>

        <div class="col-lg-3 col-sm-3 col-xs-12">
            <span class="label label-info" [innerHTML]="maternalLastViralLoad"></span>
        </div>
    </div>
</mat-card>
