<form class="form-group" [formGroup]="HaartProphylaxisFormGroup">
    <div class="row">
        <div class="col-md-12">
            <div class="form-title">
                <span class="mat-accent"> HAART & Prophylaxis </span>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="onArvBeforeANCVisit" placeholder="On ARV before 1st ANC Visit" required
                            minlength="0">
                    <mat-option value="0"> Select</mat-option>
                    <mat-option *ngFor="let yesnonaOption of yesnonaOptions" [value]="yesnonaOption.itemId">
                        {{yesnonaOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="startedHaartANC" placeholder="Started HAART in ANC" required minlength="0">
                    <mat-option value="0"> Select</mat-option>
                    <mat-option *ngFor="let yesnonaOption of yesnonaOptions" [value]="yesnonaOption.itemId">
                        {{yesnonaOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="cotrimoxazole" placeholder="Cotrimoxazole give during this visit ?"
                            required minlength="0">
                    <mat-option value="0"> Select</mat-option>
                    <mat-option *ngFor="let yesnonaOption of yesnonaOptions" [value]="yesnonaOption.itemId">
                        {{yesnonaOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="aztFortheBaby" placeholder="AZT for the baby dispensed">
                    <mat-option *ngFor="let yesnonaOption of yesnonaOptions" [value]="yesnonaOption.itemId">
                        {{yesnonaOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="nvpForBaby" placeholder="NVP for the baby dispensed " required
                            minlength="0">
                    <mat-option *ngFor="let yesnonaOption of yesnonaOptions" [value]="yesnonaOption.itemId">
                        {{yesnonaOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6"></div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="form-title">
                <span class="mat-accent"> Other Conditions </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-xs-12 col-sm-6">
                <mat-form-field class="col-md-12">
                    <mat-select formControlName="otherIllness" placeholder="Do the patient have other illnesses?" >
                        <mat-option value="0"> Select</mat-option>
                        <mat-option *ngFor="let yesnonaOption of yesnonaOptions" [value]="yesnonaOption.itemId" (onSelectionChange)="onChangeOtherIllness($event)" >
                            {{yesnonaOption.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-8 col-xs-12 col-sm-6"></div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6">
                <mat-form-field class="col-md-12">
                    <mat-select formControlName="illness" placeholder="Select Illness" required minlength="0" >
                        <mat-option value="0"> Select</mat-option>
                        <mat-option *ngFor="let chronicIllnessOption of chronicIllnessOptions" [value]="chronicIllnessOption">
                            {{chronicIllnessOption.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6">
                <mat-form-field class="col-md-12">
                    <input [max]="maxDate"  [disabled]="isDisabled" formControlName="onSetDate" matInput [matDatepicker]="onsetDate" placeholder="Onset Date" (focus)="onsetDate.open()">
                    <mat-datepicker-toggle matSuffix [for]="onsetDate"></mat-datepicker-toggle>
                    <mat-datepicker  #onsetDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6">
                <mat-form-field class=" col-lg-12 col-xs-12">
                    <input matInput formControlName="currentTreatment"  placeholder="Current Treatment">
                </mat-form-field>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6">
                <mat-form-field class=" col-lg-12 col-xs-12">
                    <input type="number" matInput formControlName="dose"  placeholder="Dose" required="true">
                </mat-form-field>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6">
                <button [disabled]="isDisabled"  mat-raised-button class="mat-primary" (click)="AddOtherIllness()"> Add Illness</button>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="example-container mat-elevation-z1">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" width="5%"># Count</th>
                        <th scope="col">Illness</th>
                        <th scope="col">On Set Date</th>
                        <th scope="col">Current Treatment</th>
                        <th scope="col">Dose</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item_data of chronicIllness; let index = index">
                        <td>{{index+1}}</td>
                        <td>{{item_data.chronicIllness}}</td>
                        <td>{{item_data.onSetDate | date: 'dd-MMM-yyyy'}}</td>
                        <td>{{item_data.currentTreatment}}</td>
                        <td>{{item_data.dose}}</td>
                        <td>
                            <i style="cursor: pointer;" class="danger material-icons" (click)="removeRow(index)">
                                delete
                            </i>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</form>
<!--<div class="row">
    <div class="col-md-12">
        <div>
            <button mat-raised-button class="mat-primary" mat-button matStepperNext style="margin-right:5px"
                    (click)="moveNextStep()">Next
            </button>
            <button mat-raised-button class="mat-accent" matStepperPrevious>Previous</button>
        </div>
    </div>
</div> -->