<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row"> 
            <div class="col-lg-12 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption"> PMTCT | ANC WORKFLOW </span>
                    </div><!--Widget Header-->
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                                    <mat-step [stepControl]= "visitDetailsFormGroup">
                                              
                                        <form [formGroup]= "visitDetailsFormGroup">
                                                <ng-template matStepLabel>Visit Details </ng-template>
                                                <div class="col-md-12">
                                                    <app-visit-details></app-visit-details> 
                                                </div>

                                                <div>
                                                  <button mat-raised-button class="primary" matStepperNext [disabled]="!visitDetailsFormGroup.valid" >Next</button>
                                                </div>
                                        </form>
                                    </mat-step>

                                            <mat-step [stepControl]="secondFormGroup">
                                              <form [formGroup]="secondFormGroup">
                                                <ng-template matStepLabel>Fill out your address</ng-template>
                                                <mat-form-field>
                                                  <input matInput placeholder="Address" formControlName="secondCtrl" required>
                                                </mat-form-field>
                                                <div>
                                                  <button mat-button matStepperPrevious>Back</button>
                                                  <button mat-button matStepperNext>Next</button>
                                                </div>
                                              </form>
                                            </mat-step>
                                            <mat-step>
                                              <ng-template matStepLabel>Done</ng-template>
                                              You are now done.
                                              <div>
                                                <button mat-button matStepperPrevious>Back</button>
                                                <button mat-button (click)="stepper.reset()">Reset</button>
                                              </div>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </div>
                        </div>                                            
                    </div><!--Widget Body-->
                </div><!--Widget-->
            </div>
        </div>
    </div>
</div>
