<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption"> PMTCT | ANC WORKFLOW </span>
                    </div>
                    <!--Widget Header-->
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                                    <mat-step [completed]="false" [stepControl]="visitDetailsFormGroup">

                                        <ng-template matStepLabel><span matTooltip="ANC Visit Details">Visit
                                                Details</span>
                                        </ng-template>

                                        <app-hei-visit-details (notify)="onVisitDetailsNotify($event)"
                                            [formtype]="formType" [visitDate]="visitDate" [visitType]="visitType"
                                            [patientId]="patientId" [serviceAreaId]="serviceAreaId" [isEdit]="isEdit"
                                            [patientMasterVisitId]="patientMasterVisitId"></app-hei-visit-details>
                                        <div class="">
                                            <app-mother-profile [patientId]="patientId" [visitDate]="visitDate"
                                                (notify)="OnMotherProfileNotify($event)"></app-mother-profile>
                                        </div>
                                        <div>
                                            <button mat-raised-button color="accent" matStepperNext
                                                type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="PatientEducationMatFormGroup">
                                        <ng-template matStepLabel> <span
                                                matTooltip="Patient Education & Mother Profile">Counselling</span>
                                        </ng-template>
                                        <app-patient-education-examination
                                            [patientEducationFormOptions]="patientEducationFormOptions"
                                            (notify)="onPatientEducationNotify($event)" [isEdit]="isEdit"
                                            [PatientId]="patientId" [PatientMasterVisitId]="visitId">
                                        </app-patient-education-examination>
                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent"
                                                type="button" (click)="checkEducationFilled(stepper)">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="HivStatusMatFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Patient HIV Status ">
                                                HIV Status
                                            </span>
                                        </ng-template>

                                        <app-anc-hivtesting (notify)="onHivStatusNotify($event)"
                                            [hivTestingOptions]="hivTestingOptions" [isEdit]="isEdit"
                                            [PatientId]="patientId" [PatientMasterVisitId]="patientMasterVisitId"
                                            [serviceAreaId]="serviceAreaId" [personId]="personId"
                                            [patientEncounterId]="patientEncounterId" [visitDate]="visitDate">
                                        </app-anc-hivtesting>

                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext
                                                type="button" >Next</button>
                                        </div>

                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="ClientMonitoringMatFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Client Monitoring & CaCx Screening">
                                                Client Monitoring
                                            </span>
                                        </ng-template>
                                        <app-client-monitoring [clientMonitoringOptions]="clientMonitoringOptions"
                                            (notify)="onClientMonitoringNotify($event)" [isEdit]="isEdit"
                                            [patientId]="patientId" [patientMasterVisitId]="visitId">
                                        </app-client-monitoring>

                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext
                                                type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="HaartProphylaxisMatFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="HAART Prophylaxis & Other Conditions">
                                                HAART | Prophylaxis
                                            </span>
                                        </ng-template>
                                        <app-haart-prophylaxis [visitDate]="visitDate" [haartProphylaxisOptions]="haartProphylaxisOptions"
                                            (notify)="onHaartProphylaxisNotify($event)" [isEdit]="isEdit"
                                            [patientId]="patientId" [patientMasterVisitId]="visitId">
                                        </app-haart-prophylaxis>
                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent"
                                                type="button" (click)="checkChroniIllnessAdded(stepper)">Next</button>
                                        </div>
                                    </mat-step>
                                    <mat-step [completed]="false" [stepControl]="PreventiveServiceMatFormGroup">
                                        <ng-template matStepLabel><span
                                                matTooltip="Preventive Services & Partner Testing">Preventive
                                                Services
                                            </span> </ng-template>
                                        <app-preventive-services [serviceFormOptions]="serviceFormOptions"
                                            (notify)="onPreventiveServiceNotify($event)" [isEdit]="isEdit"
                                            [patientId]="patientId" [patientMasterVisitId]="visitId">

                                        </app-preventive-services>
                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent"
                                                type="button" (click)="checkPreventiveServicesAdded(stepper)">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="ReferralMatFormGroup">
                                        <ng-template matStepLabel><span
                                                matTooltip="Referrals & Next Appointment">Referrals</span>
                                        </ng-template>
                                        <app-referrals [referralFormOptions]="referralFormOptions"
                                            (notify)="onReferralNotify($event)" [isEdit]="isEdit"
                                            [visitDate]="visitDate" [PatientId]="patientId"
                                            [PatientMasterVisitId]="visitId"></app-referrals>

                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="submit"
                                                (click)="onSubmit()">Complete Encounter</button>
                                        </div>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </div>
                        </div>
                    </div>
                    <!--Widget Body-->
                </div>
                <!--Widget-->
            </div>
        </div>
    </div>
</div>