<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption"> PMTCT | HEI WORKFLOW </span>
                    </div>
                    <!--Widget Header-->
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-6 col-xs-12">
                                <mat-horizontal-stepper [linear]="isLinear" #stepper>

                                    <mat-step [completed]="false" [stepControl]="visitDetailsFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Visit Details">Visit Details</span>
                                        </ng-template>
                                        <app-hei-visit-details (notify)="onVisitDetailsNotify($event)"></app-hei-visit-details>

                                        <div>
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="deliveryMatFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Delivery & Maternal History">Delivery & Mat History</span>
                                        </ng-template>

                                        <!-- add Delivery Component to Stepper -->
                                        <app-delivery (notify)="onDeliveryNotify($event)" [deliveryOptions]="deliveryOptions">
                                        </app-delivery>

                                        <!-- add Maternity History Component to Stepper -->
                                        <app-maternalhistory (notify)="onMatHistoryNotify($event)"
                                                             [maternalhistoryOptions]="maternalhistoryOptions">
                                        </app-maternalhistory>

                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="immunizationHistoryFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Immunization History">Immunization</span>
                                        </ng-template>
                                        <app-immunization-history (notify)="onImmunizationHistory($event)"></app-immunization-history>

                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>


                                    <mat-step [completed]="false" [stepControl]="milestonesFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Milestones">Milestones</span>
                                        </ng-template>
                                        <app-milestones (notify)="onMilestonesNotify($event)"></app-milestones>
                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>


                                    <mat-step [completed]="true" [stepControl]="formGroup5">
                                        <ng-template matStepLabel>
                                            <span matTooltip="HIV Testing">HIV Testing</span>
                                        </ng-template>

                                        <!-- add HEI HIV testing -->
                                        <app-hei-hivtesting></app-hei-hivtesting>

                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>


                                    <mat-step [completed]="true" [stepControl]="formGroup6">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Maternal Viral Load">Maternal Viral Load</span>
                                        </ng-template>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="formGroupInfantFeeding">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Infant Feeding">Infant Feeding</span>
                                        </ng-template>

                                        <app-infant-feeding (notify)="onInfantFeedingNotify($event)"
                                                            [infantFeedingOptions]="infantFeedingOptions">
                                        </app-infant-feeding>
                                        <div>
                                            <button mat-raised-button color="primary" matStepperPrevious type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                                        </div>
                                    </mat-step>

                                </mat-horizontal-stepper>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>