<form class="form-group" novalidate [formGroup]="milestonesFormGroup">
    <div class="row">
        <div class="col-md-2 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="milestoneAssessed" placeholder="Milestone Assessed" required minlength="0">
                    <mat-option value=""> Select</mat-option>
                    <mat-option *ngFor="let milestoneassessment of milestoneassessments" [value]="milestoneassessment">
                        {{ milestoneassessment.itemName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-2 col-xs-12">
            <mat-form-field class="col-md-12">
                <input formControlName="dateAssessed" id="dateAssessed" name="dateAssessed" matInput (focus)="dateAssessed.open()"
                    [matDatepicker]="dateAssessed" placeholder="Date Assessed">
                <mat-datepicker-toggle matSuffix [for]="dateAssessed"></mat-datepicker-toggle>
                <mat-datepicker #dateAssessed></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-md-2 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="achieved" placeholder="Achieved?" required minlength="0">
                    <mat-option value=""> Select</mat-option>
                    <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption">
                        {{ yesnoOption.itemName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-md-2 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="status" placeholder="Status" required minlength="0">
                    <mat-option value=""> Select</mat-option>
                    <mat-option *ngFor="let milestonestatuse of milestonestatuses" [value]="milestonestatuse">
                        {{ milestonestatuse.itemName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-2 col-xs-12">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="comment" name="comment" id="comment" autocomplete="off" placeholder="comment">
            </mat-form-field>
        </div>

        <div class="col-md-1 col-xs-12">
            <button mat-raised-button class="mat-primary" (click)="Save()">
                <span class="fa fa-plus-circle">
                    Add
                </span>
            </button>
        </div>

        <div class="col-md-1 col-xs-12">
            <button mat-raised-button class="mat-primary" (click)="Close()">
                <span class="fa fa-plus-circle">
                    Close
                </span>
            </button>
        </div>
    </div>
</form>