<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption"> PMTCT | PNC WORKFLOW </span>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-6 col-xs-12">
                                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                                    <mat-step [completed]="false" [stepControl]="visitDetailsFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Visit Details">Visit Details</span>
                                        </ng-template>

                                        <app-hei-visit-details (notify)="onVisitDetailsNotify($event)"
                                            [formtype]="formType" [visitDate]="visitDate" [visitType]="visitType"
                                            [patientId]="patientId" [serviceAreaId]="serviceAreaId" [isEdit]="isEdit"
                                            [patientMasterVisitId]="patientMasterVisitId">
                                        </app-hei-visit-details>

                                        <div class="row">
                                            <button mat-raised-button color="accent" matStepperNext
                                                type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="matHistory_PostNatalExam_FormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Maternal Hististory & Postnatal Exam & Baby Examimation">
                                                Mat Hist
                                            </span>
                                        </ng-template>

                                        <!-- add Maternity History Component to Stepper -->
                                        <app-pnc-maternalhistory (notify)="onMaternalHistoryNotify($event)"
                                            [matHistoryOptions]="matHistoryOptions" [patientId]="patientId"
                                            [isEdit]="isEdit" [patientMasterVisitId]="patientMasterVisitId">
                                        </app-pnc-maternalhistory>

                                        <!-- add PostNatal Examination Component to Stepper -->
                                        <app-pnc-postnatalexam (notify)="onPostNatalExamNotify($event)"
                                            [postNatalExamOptions]="postNatalExamOptions" [patientId]="patientId"
                                            [isEdit]="isEdit" [patientMasterVisitId]="patientMasterVisitId">
                                        </app-pnc-postnatalexam>

                                        <!-- add Baby Examination Component to Stepper -->
                                        <app-pnc-babyexamination (notify)="onBabyExaminationNotify($event)"
                                            [babyExaminationOptions]="babyExaminationOptions" [patientId]="patientId"
                                            [isEdit]="isEdit" [patientMasterVisitId]="patientMasterVisitId">
                                        </app-pnc-babyexamination>

                                        <div class="row">
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext
                                                type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="hivStatusFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Hiv Status">Hiv Status</span>
                                        </ng-template>

                                        <app-prior-hiv-status [priorHivOptions]="priorHivOptions"
                                            [patientId]="patientId" [isEdit]="isEdit"
                                            [patientMasterVisitId]="patientMasterVisitId"
                                            [patientEncounterId]="patientEncounterId" [serviceAreaId]="serviceAreaId"
                                            [personId]="personId">
                                        </app-prior-hiv-status>

                                        <!-- add Hiv Status Component to Stepper -->
                                        <app-pnc-hivtesting (notify)="onHivStatusNotify($event)"
                                            [pncHivOptions]="pncHivOptions" [patientId]="patientId" [isEdit]="isEdit"
                                            [patientMasterVisitId]="patientMasterVisitId"
                                            [patientEncounterId]="patientEncounterId" [serviceAreaId]="serviceAreaId"
                                            [personId]="personId" [visitDate]="visitDate">
                                        </app-pnc-hivtesting>

                                        <div class="row">
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext
                                                type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false"
                                        [stepControl]="drugAdministration_PartnerTesting_FormGroup">
                                        <ng-template matStepLabel>
                                            <span
                                                matTooltip="Drug Administration && Partner Testing && Patient Education">
                                                Drug Administration
                                            </span>
                                        </ng-template>

                                        <!-- add Drug Administration Component to Stepper -->
                                        <app-pnc-drugadministration (notify)="onDrugAdministrationNotify($event)"
                                            (notifyInfantDrug)="onInfantDrugsNotify($event)"
                                            [drugAdministrationOptions]="drugAdministrationOptions"
                                            [patientId]="patientId" [isEdit]="isEdit"
                                            [patientMasterVisitId]="patientMasterVisitId">
                                        </app-pnc-drugadministration>

                                        <br />

                                        <!-- add Partner Testing Component to Stepper -->
                                        <app-pnc-partnertesting (notify)="onPartnerTestingNotify($event)"
                                            [partnerTestingOptions]="partnerTestingOptions" [patientId]="patientId"
                                            [isEdit]="isEdit" [patientMasterVisitId]="patientMasterVisitId">
                                        </app-pnc-partnertesting>

                                        <br />

                                        <!-- add Patient Education Component to Stepper -->
                                        <app-pnc-patienteducation (notify)="onPatientEducationNotify($event)"
                                            [patientEducationOptions]="patientEducationOptions" [patientId]="patientId"
                                            [isEdit]="isEdit" [patientMasterVisitId]="patientMasterVisitId">
                                        </app-pnc-patienteducation>

                                        <div class="row">
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext
                                                type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="cervicalCancerScreeningFormGroup">
                                        <ng-template matStepLabel>
                                            <span
                                                matTooltip="Cervical Cancer Screening && Contraceptive History and Exercise">
                                                Cervical Cancer Screening
                                            </span>
                                        </ng-template>

                                        <!-- add Cervical Cancer Screening Component to Stepper -->
                                        <app-pnc-cervicalcancerscreening
                                            (notify)="onCervicalCancerScreeningNotify($event)"
                                            [cervicalCancerScreeningOptions]="cervicalCancerScreeningOptions"
                                            [patientId]="patientId" [isEdit]="isEdit"
                                            [patientMasterVisitId]="patientMasterVisitId">
                                        </app-pnc-cervicalcancerscreening>

                                        <!-- add Contraceptive History and Exercise Component to Stepper -->
                                        <app-pnc-contraceptivehistory (notify)="onContraceptiveHistoryNotify($event)"
                                            [contraceptiveHistoryExercise]="contraceptiveHistoryExercise"
                                            [patientId]="patientId" [isEdit]="isEdit"
                                            [patientMasterVisitId]="patientMasterVisitId">
                                        </app-pnc-contraceptivehistory>

                                        <div class="row">
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" matStepperNext
                                                type="button">Next</button>
                                        </div>
                                    </mat-step>

                                    <mat-step [completed]="false" [stepControl]="diagnosisReferralAppointmentFormGroup">
                                        <ng-template matStepLabel>
                                            <span matTooltip="Diagnosis && Referrals && Appointment">
                                                Diagnosis && Appointment
                                            </span>
                                        </ng-template>

                                        <app-diagnosis (notify)="onDiagnosisNotify($event)" [PatientId]="patientId"
                                            [isEdit]="isEdit" [PatientMasterVisitId]="patientMasterVisitId">
                                        </app-diagnosis>

                                        <app-maternity-referral (notify)="onReferralNotify($event)"
                                            [dischargeOptions]="referralOptions" [patientId]="patientId"
                                            [isEdit]="isEdit" [patientMasterVisitId]="patientMasterVisitId">
                                        </app-maternity-referral>

                                        <app-maternity-next-appointment (notify)="onNextAppointmentNotify($event)"
                                            [patientId]="patientId" [isEdit]="isEdit"
                                            [patientMasterVisitId]="patientMasterVisitId">
                                        </app-maternity-next-appointment>

                                        <div class="row">
                                            <button mat-raised-button color="primary" matStepperPrevious
                                                type="button">Previous</button>
                                            &nbsp;&nbsp;
                                            <button mat-raised-button color="accent" type="submit"
                                                (click)="onSubmitForm()">
                                                Complete PNC Encounter
                                            </button>
                                        </div>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>