<?xml version="1.0"?>
<configuration>
  <appSettings>    
    <add key="ServiceConfigFileName" value="RemServer.Service.exe.config"/>
    <add key="ServiceName" value="IQCare Service"/>
    <add key="DefaultPath" value="C:\IQCareService"/>   
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
