<div class="ibox">
    <div class="ibox-content">
        <form id="form" action="#" class="wizard-big">
            <fieldset>
                <h2>Contact Tracing and Outcomes</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tracing Date</label>
                            <input type="date" id="pnsTracingDate" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Tracing Outcome</label>
                            <select class="form-control m-b" id="tracingOutcome" name="tracingOutcome">
                                <option></option>
                                <option>Contacted</option>
                                <option>Not Contacted</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Date Booked for Testing</label>
                            <input type="date" id="pnsBookingDate" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tracing Mode</label>
                            <select id="tracingMode" name="tracingMode" class="form-control m-b">
                                <option></option>
                                <option>Physical</option>
                                <option>Phone</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Consent for Testing</label>
                            <select id="consent" name="consent" class="form-control m-b">
                                <option></option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <button class="btn btn-primary m-t-n-xs" value="submit">
                                <strong>Save Changes</strong>
                            </button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>