<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <!--Widget Header-->
            <div class="widget-body  no-padding">
                <div class="tickets-container">
                    <ul class="tickets-list">
                        <li class="ticket-item">
                            <div class="row">
                                <div class="ticket-time  col-lg-2 col-sm-2 col-xs-12">
                                    <span>
                                        <strong>SERVICE</strong>
                                    </span>
                                </div>

                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span>
                                        <strong>ENROLLMENT DATE</strong>
                                    </span>
                                </div>

                                <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span>
                                        <strong>ENROLLMENT NUMBER</strong>
                                    </span>
                                </div>

                                <div class="ticket-time  col-lg-2 col-sm-2 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <span class="fa fa-cog">
                                        <strong>ACTION</strong>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="tickets-list" *ngFor="let service of services;">
                        <li class="ticket-item">
                            <div class="row">
                                <div class="ticket-user col-lg-2 col-sm-3 col-xs-12">
                                    <span>{{ service.code }}</span>
                                </div>
                                <ng-container *ngIf="isPersonServiceEnrolled(service); else templateName">
                                    <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                        <span class="label label-palegreen">
                                            {{
                                            getServiceEnrollmentDetails(service)[0]['enrollmentDate']
                                            | date: 'dd-MMM-yyyy'
                                            }}
                                        </span>
                                    </div>

                                    <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                        <span class="identifierNumbers label label-palegreen">
                                            <a style="cursor:pointer;"
                                                (click)="editEnrollment(service.id, service.code)">
                                                <span style="font-size:15px;" *ngFor="let identifier of getServiceEnrollmentDetails(service)['identifiers'][0]">
                                                    <span *ngIf="service.code != 'OTZ'">
                                                        {{
                                                            identifier['identifierTypeId'] + ': ' + identifier['identifierValue']
                                                        }}
                                                        <br />
                                                    </span>
                                                </span>
                                            </a>
                                        </span>
                                        &nbsp;
                                        <!--<a>
                                            <mat-icon style="font-size:17px;">
                                                <i className="material-icons">mode_edit</i>
                                            </mat-icon>
                                        </a>-->
                                    </div>


                                    <div class="ticket-time  col-lg-2 col-sm-2 col-xs-12" style="height:100%;padding-left: 0px;
                                    padding-right: 0px;">

                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>

                                        <span>
                                            <a class="btn btn-sm btn-success" (click)="newEncounter(service.id)">
                                                Encounters
                                            </a>
                                        </span>
                                    </div>

                                </ng-container>
                                <ng-template #templateName>
                                    <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                        <span class="label label-yellow">NOT ENROLLED</span>
                                    </div>

                                    <div class="ticket-time  col-lg-4 col-sm-4 col-xs-12">
                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                        <span>
                                            &nbsp;
                                        </span>
                                    </div>

                                    <div class="ticket-time  col-lg-2 col-sm-2 col-xs-12">
                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                        <span>
                                            <ng-container *ngIf="isDeathEligibility(service.id); else serviceTemplate">
                                                <span class="label label-orange">Not Eligible</span>
                                            </ng-container>
                                            <ng-template #serviceTemplate>
                                                <span *ngIf="checkService(service.id); else eligibleTemplate">
                                                    <a class="btn btn-sm btn-primary"
                                                        (click)="enrollToService(service.id, service.code)">
                                                        Enroll
                                                    </a>
                                                </span>
                                            </ng-template>

                                            <ng-template #eligibleTemplate>
                                                <span *ngIf="isServiceEligible(service.id); else agerisktemplate">
                                                    <ng-container
                                                        *ngIf="enrollservicename; then enrolltemplate; else PrepServicetemplate">
                                                    </ng-container>
                                                    <ng-template #enrolltemplate>
                                                        <a class="btn btn-sm btn-primary"
                                                            (click)="enrollToService(service.id, service.code)">
                                                            Enroll
                                                        </a>
                                                    </ng-template>

                                                    <ng-template #PrepServicetemplate>
                                                        <a class="btn btn-sm btn-primary"
                                                            (click)="enrollToService(service.id, service.code)">
                                                            PrEP Initiation
                                                        </a>
                                                    </ng-template>
                                                </span>
                                            </ng-template>
                                            <ng-template #agerisktemplate>
                                                <div *ngIf="agerisk;else notEligibleTemplate">
                                                    <span class="label label-orange"
                                                        *ngFor="let infor of this.EligibilityInformation">
                                                        {{infor}}
                                                    </span>
                                                </div>
                                            </ng-template>
                                            <ng-template #notEligibleTemplate>
                                                <span class="label label-orange"
                                                    *ngIf="validationService(service.code,this.Vitaldone);else htsnotdonetemplate">Not
                                                    Eligible </span>
                                            </ng-template>

                                            <ng-template #htsnotdonetemplate>
                                                <div *ngIf="nohtshistory;else hivstatustemplate">
                                                    <span class="label label-orange"
                                                        *ngFor="let infor of this.EligibilityInformation">
                                                        {{infor}}
                                                    </span>
                                                </div>
                                            </ng-template>
                                            <!--  <ng-template #htsdatetemplate>
                                                <div *ngIf="htsmustbedone;else hivstatustemplate">
                                                    <span class="label label-orange"
                                                        *ngFor="let infor of this.EligibilityInformation">
                                                        {{infor}}
                                                    </span>
                                                </div>
                                            </ng-template>-->
                                            <ng-template #hivstatustemplate>
                                                <div *ngIf="validationhivstatus(service.code);else triagetemplate">
                                                    <div *ngIf="hivstatus;else triagetemplate">
                                                        <a class="btn btn-sm btn-primary"
                                                            (click)="navigateWarning(service.id)">
                                                            Proceed
                                                        </a>
                                                        <span>
                                                            &nbsp;
                                                        </span>
                                                        <span class="label label-orange">
                                                            Client Tested Hiv Positive?
                                                        </span>
                                                    </div>
                                                </div>

                                            </ng-template>


                                            <!--<ng-template #informationtemplate>
                                                <div
                                                    *ngIf="validationHTS(service.code,this.HTSEligible) ;else triagetemplate ">
                                                    <span class="label label-orange"
                                                        *ngFor="let infor of this.EligibilityInformation">
                                                        {{infor}}
                                                    </span>
                                                </div>
                                            </ng-template>-->


                                            <ng-template #triagetemplate>
                                                <div
                                                    *ngIf="validationTriage(service.code,this.Vitaldone);else vitalrisktemplate">
                                                    <a class="btn btn-sm btn-primary" (click)="navigateToTriage()">
                                                        Triage
                                                    </a>
                                                    <span>
                                                        &nbsp;
                                                    </span>
                                                    <span class="label label-orange">Vitals not done</span>
                                                </div>
                                            </ng-template>
                                            <ng-template #vitalrisktemplate>
                                                <div *ngIf="vitalrisk;else riskassessmenttemplate">
                                                    <span class="label label-orange"
                                                        *ngFor="let infor of this.EligibilityInformation">
                                                        {{infor}}
                                                    </span>
                                                </div>
                                            </ng-template>

                                            <ng-template #riskassessmenttemplate>
                                                <div
                                                    *ngIf="validationRiskAssessment(service.code,this.RiskDone);else riskoutcometemplate">
                                                    <a class="btn btn-sm btn-primary"
                                                        (click)="  navigateToRiskAssessment(service.id)">
                                                        RiskAssessment
                                                    </a>
                                                    <span>
                                                        &nbsp;
                                                    </span>
                                                    <span class="label label-orange">RiskAssessment not done</span>
                                                </div>
                                            </ng-template>
                                            <ng-template #riskoutcometemplate>
                                                <div *ngIf="preprisk;else eligiblecreatininetemplate">
                                                    <span>
                                                        <a class="btn btn-sm btn-primary"
                                                            (click)="editRiskAssessment(service.id,service.code)">
                                                            EditRiskAssessment

                                                        </a>
                                                    </span>
                                                    <span class="label label-orange"
                                                        *ngFor="let infor of this.EligibilityInformation">
                                                        {{infor}}
                                                    </span>
                                                </div>
                                            </ng-template>
                                            <ng-template #eligiblecreatininetemplate>
                                                <span class="label label-orange"
                                                    *ngIf="creatininetestresult; else eligiblecareendtemplate">
                                                    Creatinine Test Results is
                                                    {{this.creatininelabtests[0].result}} Umol/L
                                                    <br />
                                                    Client not eligible for PREP


                                                </span>
                                            </ng-template>
                                            <ng-template #eligiblecareendtemplate>

                                                <span *ngIf="isEligibleServiceReenrollment(service.id)">
                                                    <a class="btn btn-sm btn-primary"
                                                        (click)="reenrollToService(service.id,service.code)">
                                                        Restart

                                                    </a>
                                                </span>

                                            </ng-template>

                                            <br />


                                        </span>


                                    </div>

                                </ng-template>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>