<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption"> OTZ | ENCOUNTER HISTORY </span>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12">
                                <div class="example-container mat-elevation-z0">
                                    <mat-table #table [dataSource]="dataSource">

                                        <ng-container matColumnDef="visitDate">
                                            <mat-header-cell *matHeaderCellDef> Visit Date </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{ element.visitDate | date: 'dd-MMM-yyyy' }} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="attendedSupportGroup">
                                            <mat-header-cell *matHeaderCellDef> Attended Support Group </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.attendedSupportGroup }} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="provider">
                                            <mat-header-cell *matHeaderCellDef> Provider </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.provider }} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="modulesDone">
                                            <mat-header-cell *matHeaderCellDef> No Modules Done </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.modulesDone }} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="action">
                                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                            <mat-cell style="cursor: pointer;" *matCellDef="let element">
                                                <mat-icon (click)="onEdit(element)"><i className="material-icons">mode_edit</i>
                                                </mat-icon>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <mat-icon (click)="onView(element)"><i className="material-icons">remove_red_eye</i>
                                                </mat-icon>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns">
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            &nbsp;
                        </div>
                        
                        <div class="row">
                            <div class="button-row pull-right">
                                <a mat-raised-button color="accent" (click)="onNewOtzClick()">
                                    <i class="fa fa-plus"></i>
                                    <span>New OTZ Visit</span>
                                </a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>