<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <app-personbrief>
        </app-personbrief>
    </div>
</div>
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-blue">
            <span class="widget-caption">PREP Enrollment</span>
        </div>
        <div class="widget-body">
            <form [formGroup]="form">
                <fieldset>
                    
                </fieldset>
            </form>
        </div>
    </div>
</div>