<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <app-personbrief>
        </app-personbrief>
    </div>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">CCC Enrollment</span>
            </div>
            <div class="widget-body">
                <form [formGroup]="form">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                        <mat-label>Patient Type</mat-label>
                                        <mat-select formControlName="PatientType" required>
                                            <mat-option [value]=""></mat-option>
                                            <mat-option *ngFor="let patientType of patientTypes"
                                                [value]="patientType.itemId">
                                                {{patientType.itemName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <label>Select Population type</label>
                                    <div>
                                        <mat-radio-group class="col-lg-12 col-sm-12 col-xs-12"
                                            formControlName="populationType" [required]="true"
                                            (change)="onPopulationTypeChange()">
                                            <mat-radio-button [value]="1" required>General Population</mat-radio-button>
                                            <mat-radio-button [value]="2" required>Key Population</mat-radio-button>
                                        </mat-radio-group>
                                        <mat-error *ngIf="!form.controls.populationType.valid">
                                            Please select Population Type
                                        </mat-error>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field>
                                        <mat-select class="col-lg-12 col-sm-12 col-xs-12" placeholder="Key Population"
                                            formControlName="KeyPopulation" disableRipple multiple required>
                                            <mat-option *ngFor="let keyPop of keyPops" [value]="keyPop.itemId">
                                                {{keyPop.itemDisplayName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                        <mat-label>ReConfirmatory test done?</mat-label>
                                        <mat-select formControlName="ReConfirmatoryTest" required>
                                            <mat-option [value]=""></mat-option>
                                            <mat-option *ngFor="let yesNoOption of yesNoOptions"
                                                [value]="yesNoOption.itemId"
                                                (onSelectionChange)="onReConfirmatoryTestChange($event)">
                                                {{yesNoOption.itemName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                        <mat-label>Type of Test</mat-label>
                                        <mat-select formControlName="TypeOfTest" required>
                                            <mat-option [value]=""></mat-option>
                                            <mat-option *ngFor="let hivTestType of hivTestTypes"
                                                [value]="hivTestType.itemId">
                                                {{hivTestType.itemName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                        <mat-label>ReConfirmatory Result</mat-label>
                                        <mat-select formControlName="ReConfirmatoryTestResult" required>
                                            <mat-option [value]=""></mat-option>
                                            <mat-option
                                                *ngFor="let reConfirmatoryTestResult of reConfirmatoryTestResults"
                                                [value]="reConfirmatoryTestResult.itemId"
                                                (onSelectionChange)="onReConfirmatoryTestResultChange($event)">
                                                {{reConfirmatoryTestResult.itemName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                        <input placeholder="Date of ReConfirmatory Test" matInput
                                            [matDatepicker]="reconfirmatoryDatepicker" [max]="maxDate" [min]="minDate"
                                            (focus)="reconfirmatoryDatepicker.open()"
                                            formControlName="ReConfirmatoryTestDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="reconfirmatoryDatepicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #reconfirmatoryDatepicker name="ReConfirmatoryTestDate"
                                            ngDefaultControl>
                                        </mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                        <input placeholder="Enrollment Date" matInput [matDatepicker]="myDatepicker"
                                            [max]="maxDate" [min]="minDate" (focus)="myDatepicker.open()"
                                            formControlName="EnrollmentDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #myDatepicker name="EnrollmentDate" ngDefaultControl>
                                        </mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                        <mat-label>Entry Point</mat-label>
                                        <mat-select formControlName="EntryPoint" required>
                                            <mat-option [value]=""></mat-option>
                                            <mat-option *ngFor="let entrypoint of entrypoints"
                                                [value]="entrypoint.itemId">
                                                {{entrypoint.itemName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngFor="let serviceAreaIdentifier of serviceAreaIdentifiers">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                                        <mat-label>
                                            Identifier
                                        </mat-label>

                                        <span *ngFor="let identifier of identifiers">
                                            <span *ngIf="identifier['id'] == serviceAreaIdentifier['identifierId']">
                                                <mat-select [formControlName]="identifier['id']" required>
                                                    <mat-option [value]=""></mat-option>
                                                    <mat-option *ngFor="let identifi of identifiers"
                                                        [value]="identifi.id">
                                                        {{identifi.displayName}}</mat-option>
                                                </mat-select>
                                            </span>
                                        </span>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">

                                        <span *ngFor="let identifier of identifiers">
                                            <span *ngIf="identifier['id'] == serviceAreaIdentifier['identifierId']">
                                                <mat-label>
                                                    {{identifier['displayName']}}
                                                </mat-label>
                                                <input matInput [id]="identifier['code']"
                                                    [formControlName]="identifier['code']" [name]="identifier['code']">
                                                <span *ngIf="identifier['code'] == 'CCCNumber'">
                                                    <div *ngIf="form.controls.CCCNumber.errors && (form.controls.CCCNumber.dirty || form.controls.CCCNumber.touched)"
                                                        class="alert alert-danger">
                                                        <div [hidden]="!form.controls.CCCNumber.errors.required">
                                                            CCC Number is required!
                                                        </div>
                                                        <div [hidden]="!form.controls.CCCNumber.errors.pattern">
                                                            Invalid CCC format!
                                                        </div>
                                                    </div>
                                                </span>
                                            </span>
                                        </span>

                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button mat-raised-button color="primary" type="submit"
                                (click)="submitEnrollment()">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>