<div class="ibox">
    <div class="ibox-title">
        <app-clientbrief></app-clientbrief>
    </div>
    <div class="ibox-content">
        <div class="col-md-2">
            <app-leftnav></app-leftnav>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">HOME</div>
                <div class="panel-body">
                    <div class="example-container mat-elevation-z8">
                        <mat-table #table [dataSource]="dataSource">

                            <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                            <!-- FirstName Column -->
                            <ng-container matColumnDef="encounterDate">
                                <mat-header-cell *matHeaderCellDef> Encounter Date </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.encounterDate | date: 'dd-MMM-yyyy' }} </mat-cell>
                            </ng-container>

                            <!-- FirstName Column -->
                            <ng-container matColumnDef="provider">
                                <mat-header-cell *matHeaderCellDef> Provider </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.provider}} </mat-cell>
                            </ng-container>

                            <!-- Middle Name Column -->
                            <ng-container matColumnDef="resultOne">
                                <mat-header-cell *matHeaderCellDef> First Test </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.resultOne}} </mat-cell>
                            </ng-container>

                            <!-- Last Name Column -->
                            <ng-container matColumnDef="resultTwo">
                                <mat-header-cell *matHeaderCellDef> Second Test</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.resultTwo}} </mat-cell>
                            </ng-container>

                            <!-- Date Of Birth Column -->
                            <ng-container matColumnDef="finalResult">
                                <mat-header-cell *matHeaderCellDef> Final Result </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.finalResult }} </mat-cell>
                            </ng-container>

                            <!-- Enrollment Date Column -->
                            <ng-container matColumnDef="consent">
                                <mat-header-cell *matHeaderCellDef> Consent </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.consent }} </mat-cell>
                            </ng-container>

                            <!-- Enrollment Date Column -->
                            <ng-container matColumnDef="partnerListingConsent">
                                <mat-header-cell *matHeaderCellDef> Partner Listing Consent </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.partnerListingConsent }} </mat-cell>
                            </ng-container>



                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </div>

                    <div>
                        &nbsp;
                    </div>

                    <div class="button-row pull-right">
                        <a mat-raised-button color="accent" routerLink="/hts">
                            <i class="fa fa-plus"></i>
                            <span *ngIf="!isPositive">New HTS Encounter</span>
                            <span *ngIf="isPositive">Confirmatory Test</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>