<div class="ibox" xmlns="http://www.w3.org/1999/html">
    <div class="ibox-content">
        <form id="form" action="#" class="wizard-big">
            <fieldset>
                <h2>PNS SCREENING</h2>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                          <label>Screening Date </label>
                          <input id="referredTo" name="referredTo" type="text" class="form-control required">
                        </div>

                        <div class="form-group">
                          <label>PNS Accepted?</label>
                          <select name="pnsAccepted" id="pnsAccepted" class="form-control m-b">
                              <option></option>
                              <option>Y</option>
                              <option>N</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label>IPV Screening Done</label>
                          <select class="form-control m-b">
                            <option></option>
                            <option>Y</option>
                            <option>N</option>
                            <option>N/A</option>
                          </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Has partner ever physically hurt you?</label>
                            <select class="form-control m-b">
                                <option></option>
                                <option>Yes</option>
                                <option>No</option>
                                <option>NA: Not Applicable</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Has partner ever threatened to hurt you?</label>
                            <select class="form-control m-b">
                                <option></option>
                                <option>Yes</option>
                                <option>No</option>
                                <option>NA: Not Applicable</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Has partner ever forced you to do something sexually that made you feel uncomfortable?</label>
                            <select class="form-control m-b">
                                <option></option>
                                <option>Yes</option>
                                <option>No</option>
                                <option>NA: Not Applicable</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>IPV Outcome?</label>
                            <select class="form-control m-b">
                                <option></option>
                                <option>Physical</option>
                                <option>Emotional</option>
                                <option>Sexual</option>
                                <option>No IPV</option>
                                <option>NA-CHILD</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h2>OCCUPATION</h2>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>PNS Relationship</label>
                            <select class="form-control m-b">
                                <option></option>
                                <option>S</option>
                                <option>P</option>
                                <option>Sexual Partner (SP)</option>
                                <option>Injectable Drug User (IDU)</option>
                                <option>Child - C</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Living With Client</label>
                            <select class="form-control m-b">
                                <option></option>
                                <option>Yes</option>
                                <option>No</option>
                                <option>Declined</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>HIV Status</label>
                            <select class="form-control m-b">
                                <option></option>
                                <option>Positive</option>
                                <option>Negative</option>
                                <option>Unknown</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>PNS Approach</label>
                            <select class="form-control m-b">
                                <option></option>
                                <option>Con: Contract Referral</option>
                                <option>D: Dual Referral</option>
                                <option>Cr: Passive Referral</option>
                                <option>Pr: Provider Referral</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Eligible for Testing</label>
                            <select class="form-control m-b">
                                <option></option>
                                <option>Yes</option>
                                <option>No</option>
                                <option>NA: Not Applicable</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Booking Date</label>
                            <input type="date" id="bookingDate" name="bookingDate" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <button class="btn btn-primary m-t-n-xs" value="submit">
                                <strong>Save Changes</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
