<div class="ibox">
    <div class="ibox-title">
        <app-clientbrief></app-clientbrief>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-2">
                <app-leftnav></app-leftnav>
            </div>
            <div class="col-md-10 animated fadeInRight">
                <div class="panel panel-default">
                    <div class="panel-heading">PNS FORM</div>
                    <div class="panel-body">
                        <mat-card>
                            <div class="row">
                                <div class="col-lg-3">
                                    Name: Mark Otiende
                                </div>

                                <div class="col-lg-3">
                                    Date Of Birth: 12-Jan-1990
                                </div>

                                <div class="col-lg-3">
                                    Gender: Male
                                </div>
                            </div>
                        </mat-card>
                        <br>
                        <form id="form" action="#" class="wizard-big" (ngSubmit)="onSubmit()" #pnsScreeingForm="ngForm">
                            <fieldset>
                                <h2>PNS SCREENING</h2>
                                <div class="example-container">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="myDatepicker" placeholder="Screening Date" (click)="myDatepicker.open()" id="screeningDate" name="screeningDate" [(ngModel)]="pnsForm.screeningDate" #screeningDate="ngModel">
                                                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="pnsAccepted" id="pnsAccepted" placeholder="Pns Accepted" [(ngModel)]="pnsForm.pnsAccepted" #pnsAccepted="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of yesNoOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="ipvScreeningDone" id="ipvScreeningDone" placeholder="IPV Screening Done" [(ngModel)]="pnsForm.ipvScreeningDone" #ipvScreeningDone="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of yesNoNAOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="partnerPhysicallyHurt" id="partnerPhysicallyHurt" placeholder="Has partner ever physically hurt you?" [(ngModel)]="pnsForm.partnerPhysicallyHurt" #partnerPhysicallyHurt="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of yesNoNAOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="partnerThreatenedHurt" id="partnerThreatenedHurt" placeholder="Has partner ever threatened to hurt you?" [(ngModel)]="pnsForm.partnerThreatenedHurt" #partnerThreatenedHurt="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of yesNoNAOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="forcedYouTodoSexuallyUncomfortable" id="forcedYouTodoSexuallyUncomfortable" placeholder="Has partner forced you something sexual that made you feel uncomfortable?" [(ngModel)]="pnsForm.forcedSexualUncomfortable" #forcedSexualUncomfortable="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of yesNoNAOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="ipvOutcome" id="ipvOutcome" placeholder="IPV Outcome?" [(ngModel)]="pnsForm.ipvOutcome" #ipvOutcome="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of ipvOutcomeOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h2>OCCUPATION</h2>
                                <div class="example-container">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="pnsRelationship" id="pnsRelationship" placeholder="PNS Relationship" [(ngModel)]="pnsForm.pnsRelationship" #pnsRelationship="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of pnsRelationshipOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="livingWithClient" id="livingWithClient" placeholder="Living With Client" [(ngModel)]="pnsForm.livingWithClient" #livingWithClient="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of yesNoDeclinedOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="hivStatus" id="hivStatus" placeholder="HIV Status" [(ngModel)]="pnsForm.hivStatus" #hivStatus="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of hivStatusOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="pnsApproach" id="pnsApproach" placeholder="PNS Approach" [(ngModel)]="pnsForm.pnsApproach" #pnsApproach="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of pnsApproachOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <mat-select name="eligibleTesting" id="eligibleTesting" placeholder="Eligible for Testing" [(ngModel)]="pnsForm.eligibleTesting" #eligibleTesting="ngModel">
                                                            <mat-option></mat-option>
                                                            <mat-option *ngFor="let option of yesNoNAOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="bookingDatepicker" placeholder="Booking Date" (click)="bookingDatepicker.open()" id="bookingDate" name="bookingDate" [(ngModel)]="pnsForm.bookingDate" #bookingDate="ngModel">
                                                        <mat-datepicker-toggle matSuffix [for]="bookingDatepicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #bookingDatepicker></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <button mat-raised-button color="primary">
                                                <strong>Save Changes</strong>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
