<div class="col-lg-2 col-sm-4 col-xs-6">
     <div class="databox databox-lg databox-vertical databox-inverted bg-white databox-shadowed">
            <a routerLink="/air/report/{{ReportingForm.id}}">
                <div class="databox-top">
                    <img src="assets/img/MATERIAL/medical/png/72/patient.png" />
                 </div>
             <div class="databox-bottom no-padding text-align-center">
              <span class="databox-text lightcarbon no-margin">{{ReportingForm.name |  uppercase}}</span>
           </div>
     </a>
  </div>
</div>        