<div class="row">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn " href="/IQCare/Home/Default.aspx"><i class="fa fa-home"></i>Facility Home</a>
            <a class="navbar-minimalize minimalize-styl-2 btn " href="/IQCare/Home/Default.aspx"><i class="fa fa-home"></i>Facility Home</a>
            <a class="navbar-minimalize minimalize-styl-2 btn " href="/IQCare/Home/Default.aspx"><i class="fa fa-home"></i>Home</a>
            <a class="navbar-minimalize minimalize-styl-2 btn" routerLink="recordregistration" routerLinkActive="active">
                <i class="fa fa-user-circle"></i>PatientRegistration
            </a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">{{appUserName}}</span>
            </li>
            <!--<li>
                <a href="login.html">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>-->
        </ul>
    </nav>
</div>