<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption"> PREP | ENCOUNTER History </span>
                    </div>
                    <div class="widget-body">
                        <div class="row" style="margin: 5px;">
                            <app-personbrief [personId]="personId"></app-personbrief>
                        </div>

                        <div class="row">&nbsp;</div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="example-container mat-elevation-z0">

                                    <mat-table #table [dataSource]="dataSource">

                                        <ng-container matColumnDef="encounter_date">
                                            <mat-header-cell *matHeaderCellDef><strong>Encounter Date</strong>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let PrepHistoryTableData">
                                                {{
                                                    PrepHistoryTableData.encounterStartTime | date: 'dd-MMM-yyyy'
                                                }}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Position Column -->
                                        <!---<ng-container matColumnDef="behaviourrisk">
                                            <mat-header-cell *matHeaderCellDef><strong>Behaviour Risk</strong>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let PrepHistoryTableData">
                                                {{
                                                    PrepHistoryTableData.behaviourrisk
                                                }}
                                            </mat-cell>
                                        </ng-container>-->
                                        <ng-container matColumnDef="formType">
                                            <mat-header-cell *matHeaderCellDef><strong>Form </strong>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let PrepHistoryTableData">
                                                {{
                                                    PrepHistoryTableData.encounterType
                                                }}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="prep_status">
                                            <mat-header-cell *matHeaderCellDef><strong>Prep Status</strong>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let PrepHistoryTableData">
                                                {{
                                                    PrepHistoryTableData.prep_status
                                                }}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="next_appointment">
                                            <mat-header-cell *matHeaderCellDef><strong>Next Appointment</strong>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let PrepHistoryTableData">
                                                {{
                                                    PrepHistoryTableData.next_appointment | date: 'dd-MMM-yyyy'
                                                }}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="provider">
                                            <mat-header-cell *matHeaderCellDef> <strong>Health Care Provider</strong>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let PrepHistoryTableData">
                                                {{
                                                    PrepHistoryTableData.provider
                                                }}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="edit">
                                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                            <mat-cell style="cursor: pointer;" *matCellDef="let element">
                                                <mat-icon (click)="onEdit(element)"><i
                                                        className="material-icons">mode_edit</i>
                                                </mat-icon>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <mat-icon (click)="onView(element)"><i
                                                        className="material-icons">remove_red_eye</i>
                                                </mat-icon>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns">
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>

                        <div class="row">

                            <ng-container *ngIf="isServiceEligible();else HTSTemplate">
                                <div class="button-row pull-right">
                                    <a mat-raised-button color="accent" (click)="onPrepCheckIn()">
                                        <i class="fa fa-plus"></i>
                                        <span>New PREP Encounter</span>
                                    </a>
                                </div>
                            </ng-container>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>