<div class="ibox">
    <div class="ibox-title">
        <h5>REGISTRATION</h5>
    </div>
    <div class="ibox-content">
        <div class="wizard" data-initialize="wizard" id="myWizard">
            <div class="steps-container">
                <ul class="steps">
                    <li data-step="1" data-name="campaign" class="active">
                        <span class="badge">1</span>DEMOGRAPHICS
                        <span class="chevron"></span>
                    </li>
                    <li data-step="2">
                        <span class="badge">2</span>CONTACTS
                        <span class="chevron"></span>
                    </li>
                    <li data-step="3">
                        <span class="badge">3</span>PROFILE
                        <span class="chevron"></span>
                    </li>
                </ul>
            </div>

            <div class="actions">
                <button type="button" class="btn btn-default btn-prev">
                    <span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
                <button type="button" class="btn btn-primary btn-next" data-last="Complete">Next
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>

            <form id="form" action="#" class="wizard-big">
                <div class="step-content">
                    <div class="step-pane active sample-pane alert" id="datastep1" data-step="1" data-parsley-validate="true" data-show-errors="true">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input id="firstName" name="firstName" type="text" class="form-control required" [(ngModel)]="person.FirstName" #FirstName="ngModel" data-parsley-required="true">
                                    </div>

                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <div>
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" id="DateOfBirth" name="DateOfBirth" [(ngModel)]="person.DateOfBirth" #DateOfBirth="ngModel" data-parsley-required="true">
                                                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                                <mat-datepicker #myDatepicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input id="middleName" name="middleName" type="text" class="form-control required" [(ngModel)]="person.MiddleName" #MiddleName="ngModel">
                                    </div>

                                    <div class="form-group">
                                        <label>Marital Status</label>
                                        <select class="form-control m-b" name="maritalStatus" id="maritalStatus" [(ngModel)]="person.MaritalStatus" #MaritalStatus="ngModel" data-parsley-required="true">
                                            <option></option>
                                            <option *ngFor="let maritalStatus of maritalStatuses" [ngValue]="maritalStatus.itemId">{{maritalStatus.itemName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input id="lastName" name="lastName" type="text" class="form-control required" [(ngModel)]="person.LastName" #LastName="ngModel" data-parsley-required="true">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <label>Gender</label>
                                    <div class="form-group">
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio1" [value]="male" name="radioInline" class="form-control" [(ngModel)]="person.Sex" data-parsley-required="true">
                                            <label for="inlineRadio1">Male</label>
                                        </div>

                                        <div class="radio radio-inline">
                                            <input type="radio" id="inlineRadio2" [value]="female" name="radioInline" class="form-control" [(ngModel)]="person.Sex" data-parsley-required="true">
                                            <label for="inlineRadio2">Female</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="step-pane active sample-pane alert" id="datastep2" data-step="2" data-parsley-validate="true" data-show-errors="true">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Telephone</label>
                                        <input id="PhoneNumber" name="PhoneNumber" type="text" class="form-control required" [(ngModel)]="contact.PhoneNumber" #PhoneNumber="ngModel">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Landmark</label>
                                        <input id="Landmark" name="Landmark" type="text" class="form-control required" [(ngModel)]="contact.Landmark" #Landmark="ngModel">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="step-pane active sample-pane alert" id="datastep3" data-step="3" data-parsley-validate="true" data-show-errors="true">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Key Population</label>
                                        <select class="form-control m-b" name="keyPopulation" id="keyPopulation" [(ngModel)]="personPopulation.KeyPopulation" #KeyPopulation="ngModel" data-parsley-required="true">
                                            <option></option>
                                            <option *ngFor="let keyPop of keyPops" [ngValue]="keyPop.itemId">{{keyPop.itemDisplayName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
