<paymentSection>
  <paymenthandler handlername="Cash and Deposit Plugin" controlname="PayBillCashAndDeposit.ascx"
    description="Cash,cheque, deposit payment handler">
    <paymethods>
      <paymethod methodname="Cash" code="CASH" description="Cash payment" />
      <paymethod methodname="Deposit" code="DEPOSIT" description="Deposit payment" />
      <paymethod methodname="Cheque" code="CHEQUE" description="Bankers and personal Cheque" />
    </paymethods>
  </paymenthandler>
  <paymenthandler handlername="CORPORATE" controlname="PayBillCorporate.ascx"
    description="Corporate and insurance accounts handler">
    <paymethods>
      <paymethod methodname="NHIF" code="NHIF" description="NHIF insurance payment" />
      <paymethod methodname="Waiver" code="WAIVER" description="waiver" />
    </paymethods>
  </paymenthandler>
</paymentSection>
