<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-header col-md-2 col-xs-2 col-sm-2">
          <img src="assets/img/iqcare.png" alt="logo" />
      </div>

      <div class="col-md-10 col-xs-9 col-sm-10 pull-left" style="padding-left:0;text-align:left;">
          <div class="col-md-6 col-xs-6 col-sm-6">
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                      <li class="text-uppercase">
                          <a style="font-size:18px;"><i class="fa fa-h-square"></i>{{facilityName}}</a>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-md-6 col-xs-6 col-sm-6 removable">
              <div class="col-md-10 col-xs-10 col-sm-10" style="padding-right:0;padding-top:8px;">
                  <span class="pull-right">Government of Kenya</span>
                  <br />
                  <span class="pull-right">Ministry of Health</span>
              </div>
              <div class="col-md-2 col-xs-2 col-sm-2" style="text-align:right;padding-left:0;">
                  <img src="assets/img/gok.png" alt="moh" height="48px" width="48px" />
              </div>
          </div>
      </div>
  </nav>
</div>
