<div class="ibox">
    <div class="ibox-title">
        <app-clientbrief></app-clientbrief>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-2">
                <app-leftnav></app-leftnav>
            </div>
            <div class="col-md-10 animated fadeIn">
                <div class="panel panel-default">
                    <div class="panel-heading">FAMILY SCREENING</div>
                    <div class="panel-body">
                        <app-personbrief></app-personbrief>
                        <br>

                        <form [formGroup]="formGroup">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="myDatepicker" formControlName="dateOfScreening" placeholder="Date of Screening" tabindex="1" (click)="myDatepicker.open()">
                                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Eligible For Testing" formControlName="eligibleForTesting" tabindex="3">
                                            <mat-option></mat-option>
                                            <mat-option *ngFor="let option of eligibleTestingOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <mat-form-field>
                                        <mat-select placeholder="HIV Status" formControlName="hivStatus" tabindex="2" (change)="onHivStatusSelected()">
                                            <mat-option></mat-option>
                                            <mat-option *ngFor="let option of hivStatusOptions" [value]="option.itemId">{{option.itemName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput [matDatepicker]="datebookedDatepicker" formControlName="dateBooked" placeholder="Date Booked for testing" tabindex="4" (click)="datebookedDatepicker.open()">
                                        <mat-datepicker-toggle matSuffix [for]="datebookedDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datebookedDatepicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">&nbsp;</div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <button class="pull-right" mat-raised-button color="primary" (click)="onSubmit()">
                                        <strong>Save Changes</strong>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>