<div class="ibox">
  <div class="ibox-content">
    <form id="form" action="#" class="wizard-big">
      <fieldset>
        <h2>Family Member Screeening Form</h2>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Date of Screening</label>
              <input type="date" class="form-control">
            </div>

            <div class="form-group">
              <label>Family member eligible for Testing</label>
              <select class="form-control">
                <option></option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label>HIV Status</label>
              <select class="form-control">
                <option></option>
                <option>DK</option>
                <option>HEI</option>
                <option>KP</option>
                <option>N</option>
              </select>
            </div>

            <div class="form-group">
              <label>Date contact booked for testing</label>
              <input type="date" class="form-control">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <button class="btn btn-primary m-t-n-xs" value="submit">
                <strong>Save Changes</strong>
              </button>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>