<div class="ibox">
    <div class="ibox-title">
        <h5>Family Member Screeening</h5>
    </div>

    <div class="ibox-content">
        <form id="form" action="#" class="wizard-big" (ngSubmit)="onSubmit()" #familyScreeningForm="ngForm">
            <fieldset>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Date of Screening</label>
                            <div>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" id="dateOfScreening" name="dateOfScreening" [(ngModel)]="familyScreening.dateOfScreening" #dateOfScreening="ngModel">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Family member eligible for Testing</label>
                            <select class="form-control" id="eligibleForTesting" name="eligibleForTesting" [(ngModel)]="familyScreening.eligibleForTesting" #eligibleForTesting="ngModel">
                                <option></option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>HIV Status</label>
                            <select class="form-control" id="hivStatus" name="hivStatus" [(ngModel)]="familyScreening.hivStatus" #hivStatus="ngModel">
                                <option></option>
                                <option>DK</option>
                                <option>HEI</option>
                                <option>KP</option>
                                <option>N</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Date contact booked for testing</label>
                            <div>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="myDatepicker" (click)="myDatepicker.open()" id="dateBooked" name="dateBooked" [(ngModel)]="familyScreening.dateBooked" #dateBooked="ngModel">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                 </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <button class="btn btn-primary m-t-n-xs" value="submit" [disabled]="!familyScreeningForm.form.valid">
                                <strong>Save Changes</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>