<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
  </configSections>
  <appSettings>
    <add key="SessionTimeOut" value="480"/>
    <add key="CommandTimeOut" value="900"/>
    <add key="tcpChannel" value="8001"/>
    <add key="MessageRepository" value="IQCareMessage.xml"/>
    <add key="ServiceName" value="IQCare Service"/>
    <add key="IQToolsNextRefreshDateTime" value="2014-04-07 16:10:23"/>
    <add key="IQToolsRefreshInterval" value="180"/>
    <add key="AppointmentUpdateInterval" value="60"/>
    <add key="DatabaseBackupInterval" value="720"/>
    <add key="IL.IP" value="192.168.43.183"/>
    <add key="IL.REMOTEPORT" value="9720"/>
    <add key="IL.LOCALPORT" value="9998"/>
    <add key="IL.BufferSize" value="25448"/>
    <add key="IL.QueueLength" value="5"/>
    <add key="tcpChannel" value="8001"/>
    <add key="IQToolsInitializationProcedures" value="bWLWLYlC5Co+hWeby+6n/szF5VkFPPYAMayrd/nHTPYSQc6nMGUYq/BzLeugiHqAP3VubVOy7trkPo73zMUr25AK/XAhzjjWwR44c4/PBDy90a7jZF8gCRSckv3B5GAoi5YaOxN+N8z76h0SetXEGlx753f/pyoVzRLYjMWDxFXNNV4WZmJ31Qfv0Rs3F1IItGHckpQnHr7Iin0la+HNV20LhVGtoByQVN2NCSUauwcbEgBHAGDMX1S6sbr4vPuaG8kSfF5fwK8RD/TnLyMv6GuIG7qNhGqky45jSwTpN9Qd3jRI/naYaqU6u/aY2fTAunYij6nYG7KGfIx4HlCoHUHaJ7pQAfVr0rqC3W6u+zorktir2Vi8hQABUvoCTYHYJjtRKbAKvIxh6ck0FLYH4elc5p2bLIJGLKPvxD7PdLkCTi6b3K0ZgWxNuxDdgQpyf1z1L5wNv8D3GPrUpapn0mDOYJvkLWqr7D553pxQcUqKu88nH1+rF1ik4RRo+BKOobs9FsJOXyRMVSp9wxnI84nKEDrbTfIQTk+Z7C4ByoVO7EfGrfknb/j+BEY9LJ/4dvcZ3dbQ2uy91DhVao+euVyYcMXnE1iyNFtRTEXu3fsmyXxAcGmQJhNgH01vfSoUkxWg/HV7oLSznjhnKZc95w=="/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="AppointmentSchedule" value="Appointment.Update"/>
    <add key="IQToolsSchedule" value="IQTools.Update"/>
    <add key="BackupSchedule" value="Database.Backup"/>
    <add key="AppointmentNextUpdate" value="2017-08-21 10:47:36"/>
    
    <!--IQCare-->
    <!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5c1aNZ7dMFoEpMuUlODS3niCOCSy5//Z6DD4q2rlqszmOGBlVQdLaEzr2mCsTFKMnafDHgOIxjOb5YS7GfC5VAUWgZ1kzqo6Caa69KQ8BSER0/w5lcjBHjg4lC1mW3nV9SayMyaUKPM5fg8jpLLRKC5CfMQJcsMV8UMfibo6LDkG5HDBvRG4bouwZavsvS5t+tSMM6yxyKtGD3mQ6KmfNGn10pCZLUme1hjnfRM3kp4JuvgLHPthb9I="/>-->
    <!--IQCare V1-->
    <!--kibera-->
    <!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5c1aNZ7dMFoEpMuUlODS3niCOCSy5//Z6DD4q2rlqszmOGBlVQdLaEzr2mCsTFKMncCnmFI/jXDJur9Ffo9BOb3bYyFdNpVCNJKGUqRD7jm/tJZLYFTiXg7Xl0/w3uXmffLGtxWB3vb8KthAJwm0552P/N/WQxXpZJj9Gy9b6z3sfIeO1mz7mVQUBwM87W5DQd2NTMdvd2+hcyXVP8D/1so1Zd6ofOOz2A5u64RNqHDZURq04MGAPgHWvjmzfu3GAA=="/>-->
    <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5c1aNZ7dMFoERseLaaMkB8Uq+HNCSS/7sPnmYxLODrF0zjHzGHhL4LcoeCCqyy7IhAO70RtRcgVFWoyoHxYxPPVT4qadiR259C/xHvUFc+6vgXP8+G6F2dHqvdx2Asw5bVKE0uMoDqePG0PMQF3vqw2bscjGnjUK9E9yLLGgKtr3Shc8JKOcFkGMsUylOYNpb2Y7dHR491tX0wBuotN+Zo1jMSClMnofg0ZpMgLkSO6HBENxB6mObgyvU2gJNHzWFZgxw5WMZ2jWDIrmjlMubz8="/>
   <!-- <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5c1aNZ7dMFoEpMuUlODS3niCOCSy5//Z6DD4q2rlqszmOGBlVQdLaEzr2mCsTFKMnSTPvG7mNZWFNqQ+RzT2CLQPFoyX776dgW0+useUz1uJZqW7FH2Y+3ORH3VRETat3XvYm7/jzoJ3psi0HHnBVzGHX8++ieGH4QfPWV6YUhdmgRhcsPSdJ9fTnC3zHDZyiPfabCTQaQgkRk+Ynmf/X8Ql465FzHW6aVa1boNXe1y3VPYgTmFEiVUwJXq8kytnJ8lzM/Xn1Wxz"/>-->
    
 <!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5WxvX0HI0uVG1ZlzUSiKVxI45hoTxvitgim+YeilDvDf69xzvkRprPYNfrh5IdJ5vNvzciP6Tx94mM+vmCl1+uMGss4RGhY+YiHStPbRtb7b3F4ZME5U7CzkTKyhYzZRLyMLaDXE9Pi+dNuwLyuPGLTb/YmwhXsgin6L8S1YPv6Sibth7UgjvK0MtHYUly3ZWxeilTpfa1lp0Y2Jvm6MOmG0Un+hE5QVQY3kf4HtKPInNdwsVUrKJZ2xrEPNa28U0N9J59Vg8aFhSfNCMlwN50c="/>-->
 <!--IQCareSiaya-->
  <!-- <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5WxvX0HI0uVG1ZlzUSiKVxI45hoTxvitgim+YeilDvDf69xzvkRprPYNfrh5IdJ5vNvzciP6Tx94mM+vmCl1+uMV4DBIQKv+z0E/mpVqwvSzEnpD9TtmI+lRuLGaOInUx5iI+MzNyxSgwRM59dQ/hjqe9TwAUaAgrgVNhhcY5JwqhvisgquK9w3olxSPV/qZ2vmmTrZpoqlBvn+BYiYij8C56ZVfV1t7p91bAdqQp6f0Bxu6r1gqAxyHaLaowS+8efa0iwT2EnbHA8rNHInn47I="/>-->
  <!--IQCare_Mbagathi-->
    <!-- <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5WxvX0HI0uVG1ZlzUSiKVxI45hoTxvitgim+YeilDvDf69xzvkRprPYNfrh5IdJ5vNvzciP6Tx94mM+vmCl1+uOy80O2QblydAfMh+to+iIC5y6JGGR+2ljJY4ZFyUVhA9//BPkq+ObllKzDCkjEp6Gpl05lCHgL5sSJNeNASeshjIOrET+I+aHnR4KTApt0FNU5CZcyjjq4u+7o621Ifws2payFCgRWo1mMm1rOIlNJD0/4omqL9wHR/Dyd129wnmnlL5RIdEIDGtfj8LvQpV0="/>-->
   <!-- <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5WxvX0HI0uVG1ZlzUSiKVxI45hoTxvitgim+YeilDvDf69xzvkRprPYNfrh5IdJ5vNvzciP6Tx94mM+vmCl1+uPAkrcM0cWMc/bG67hES2d23xS6JVYXWmg53kJuF5XnE0aXDkJf0lQO7GKrFDxJ49Zt4zlCa77EWwid2U6aPA9oHXbX0N4bGBhDx6cbVarOFL9L/GCv3GMGldzu07v50aTcsqDwCHJLEkYzsRAICi/80mRjhesxJdvwwK4nTEB3GdK4fcWevn7d"/>-->
<!--IQCareV2-->
<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5WxvX0HI0uVG1ZlzUSiKVxI45hoTxvitgim+YeilDvDf69xzvkRprPYNfrh5IdJ5vNvzciP6Tx94mM+vmCl1+uPf8xZ3ffE0dzK0yKXX7YVyXNhGX9EUfaj+0jrviZmwG7tkFl9l1ZF0Dgy4tQiKevcLZ50JtaWSjKB8RSfPOnqVPcvdPqTlWrNOSN6xp7KD75/zMIqyvQHOESIRP4TF9M/6inOXYZKZuQQM4T2J1PTcOSJ5dSAlyqb2ytdzBqxr4RTIBskxwD8fnZsV0G1uot0="/>-->
<!--IQCareLunga-->
   <!-- <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFbC72SQw86P5WxvX0HI0uVG1ZlzUSiKVxI45hoTxvitgim+YeilDvDf69xzvkRprPYNfrh5IdJ5vNvzciP6Tx94mM+vmCl1+uPcktTblMki1zurzQpZSu+iQHsISgL4dJt/FsjUXBr6F9TBpkckaSJQJRQygN2haTHUV+XhLFGENLCA3LhFr4NHvJJqzkfBVWoZd2Y0GaxJGo9K5JO/3QfVL0YQyTU3fzlKb2QpOX6Ce83wNc2LX5mgRqYqhT+XBZlf4dce/lwmy68KUYCZHXsdXyqByziWF8c="/>-->
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="8001"/>
        <clientProviders>
          <formatter ref="binary"/>
        </clientProviders>
        <serverProviders>
          <formatter ref="binary" typeFilterLevel="Full"/>
        </serverProviders>
      </channels>
    </application>
    <customErrors mode="off"/>
  </system.runtime.remoting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>