<mat-card>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
     <b> Name: </b>  {{this.partnerView.fullName}}
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
     <b>Date Of Birth: </b>  {{this.partnerView.DateOfBirth | date: 'dd-MMM-yyyy' }}
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
    <b> Gender: </b> {{this.partnerView.Gender}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <b> Marital Status: </b> {{this.partnerView.MaritalStatus}}
    </div>
  </div>
</mat-card>
