<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <div class="databox databox-lg databox-vertical databox-inverted bg-white databox-shadowed">
                    <a routerLink="/record">
                        <div class="databox-top">
                            <img src="assets/img/MATERIAL/medical/png/72/patient.png" />
                        </div>

                        <div class="databox-bottom no-padding text-align-center">
                            <span class="databox-text lightcarbon no-margin">REGISTRATION</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-sm-4 col-xs-6">
                <div class="databox databox-lg databox-vertical databox-inverted bg-white databox-shadowed">
                    <a routerLink="/dashboard/report">
                        <div class="databox-top">
                            <img src="assets/img/MATERIAL/medical/png/72/health-report-icon-2.png" />
                        </div>

                        <div class="databox-bottom no-padding text-align-center">
                            <span class="databox-text lightcarbon no-margin">REPORTING</span>
                        </div>
                    </a>
                </div>
            </div>


            <!--<div class="col-lg-2 col-sm-4 col-xs-6">
                <div class="databox databox-lg databox-vertical databox-inverted bg-white databox-shadowed">
                    <a href="#">
                        <div class="databox-top">
                            <img src="assets/img/MATERIAL/medical/png/72/medical_history.png" />
                        </div>
                        <div class="databox-bottom no-padding text-align-center">
                            <span class="databox-text lightcarbon no-margin">TRIAGE</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-sm-4 col-xs-6">
                <div class="databox databox-lg databox-vertical databox-inverted bg-white databox-shadowed">
                    <a href="#">
                        <div class="databox-top">
                            <img src="assets/img/MATERIAL/medical/png/72/doctor_female.png" />
                        </div>
                        <div class="databox-bottom no-padding text-align-center">
                            <span class="databox-text lightcarbon no-margin">CLINICAL</span>
                        </div>
                    </a>
                </div>
            </div>-->
        </div>
    </div>
</div>