<form class="form-group" novalidate [formGroup]="InfantFeedingFormGroup">
    <div class="row">
        <div class="col-md-12">
            <div class="form-title">
                <span class="mat-accent"> Infant Feeding </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="infantFeedingOptions" required>
                        <mat-option [value]="0">select</mat-option>
                        <mat-option *ngFor="let infantFeedingOption of infantFeedingOptions" [value]="infantFeedingOption.itemId">
                            {{infantFeedingOption.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </div>
</form>