<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="reportCustomConfig" type="IQCare.CustomConfig.ReportConfigSection,IQCare.CustomConfig"/>
  </configSections>
    <system.web>
    </system.web>
  <reportCustomConfig>
    <add code="CashierSummary" name="Daily Cashiers Cash Summmary" description="Daily Cashiers Cash Collection" fileName="DailyCashierSummary" procedureName="fAOGxRQd44RLRthOjVeEP8GacrDHM8m+95XEsXDvDbi74wdTZZPF2Q==" tableName="CollectionSummary,Facility" hasPatientData="false" allowedRoles="All"/>
    <add code="CashMovement" name="Daily Cash Movement" description="Daily Cash flow" fileName="CashMovement"  procedureName="fAOGxRQd44RLRthOjVeEP8GacrDHM8m+akcjYFyL2xn7L0sA/Wq7Ag==" tableName="CollectionSummary,Facility" hasPatientData="false" allowedRoles="All"/>
    <add code="CollectionSummary" name="Collection By Cashier" description="Daily Collection Summmary by Cashier By Payment method" fileName="DailyCollectionSummary"  procedureName="fAOGxRQd44RLRthOjVeEPwpBec9q1Sk2HkHWQKRvEnWZWBgX3EO5BqLNSvIVdNw/" tableName="CollectionSummary,Facility" hasPatientData="false"  allowedRoles="All"/>
    <add code="CS_PB" name="Collection By Payment Method" description="Daily Collection Summmary by Payment Method" fileName="CollectionSummaryByPaymentMode"  procedureName="fAOGxRQd44RLRthOjVeEPwpBec9q1Sk2HkHWQKRvEnWZWBgX3EO5BqLNSvIVdNw/" tableName="CollectionSummary,Facility" hasPatientData="false"  allowedRoles="All"/>
    <add code="DepartmentalSummary" name="Departmental Summary" description="Departmental summary by payment method" fileName="DepartmentalSummary" procedureName="fAOGxRQd44RLRthOjVeEP6FIaqffY2e11/WdL4OBahjsQO3CVW31qA==" tableName="DailyCollection, Facility" hasPatientData="false" allowedRoles="All" />
    <add code="DailyDepartmentalCollection" name="Daily Departmental Itemized Report" description="Daily Departmental itemzied collections" fileName="DailyDepartmentalCollection" procedureName="fAOGxRQd44RLRthOjVeEP8GacrDHM8m+L1V9f35hRL9RNVhsesV6RQ==" tableName="DailyCollection,Facility" hasPatientData="false"  allowedRoles="All"/>
    <add code="SalesSummary" name="Sales Summary" description="Items that have been billed" fileName="BillingSalesSummary" procedureName="fAOGxRQd44RLRthOjVeEP9OWqXiQN54pSVTGVN0FIvY=" tableName="Table,Table1" hasPatientData="false" allowedRoles="All"/>
    <add code="OutstandingSalesSummary" name="Outstanding Sales Summary" description="Summary of item that have been Sold but not paid for" fileName="BillingOutstandingSalesSummary" procedureName="fAOGxRQd44RLRthOjVeEP7sRyZDDxKzKu0R03dftvT5mu0FMu5u7/ajt6G+sRnkX" tableName="Table,Table1" hasPatientData="false" allowedRoles="All"/>
    <add code="DetailedOutstandingSales" name="Outstanding Sales Details" description="Detail of items that have been Sold but not paid for" fileName="BillingoutstandingSalesDetails" procedureName="fAOGxRQd44RLRthOjVeEP1d2oHGF7YBJCWxRoQ7I72JO9dIFifKOhlMIUpVxpdbb" tableName="Table,Table1" hasPatientData="true" allowedRoles="All"/>
  </reportCustomConfig>
</configuration>
