<form class="form-group" novalidate [formGroup]="milestonesFormGroup">
    <div class="row">
      <div class="col-md-12">
        <div class="form-title">
          <span class="mat-accent"> Immunization History </span>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="milestoneAssessed" placeholder="Milestone Assessed" required minlength="0">
                    <mat-option value="0"> Select</mat-option>
                    <mat-option  >

                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 col-xs-12">
            <mat-form-field class="col-md-12">
                <input formControlName="dateAssessed" matInput [matDatepicker]="dateGiven" placeholder="Date Assessed">
                <mat-datepicker-toggle matSuffix [for]="dateAssessed"></mat-datepicker-toggle>
                <mat-datepicker #dateAssessed></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-1 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="achieved" placeholder="Achieved Assessed" required minlength="0">
                    <mat-option value="0"> Select</mat-option>
                    <mat-option  >

                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="col-md-2 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-select formControlName="status" placeholder="Status" required minlength="0">
                    <mat-option value="0"> Select</mat-option>
                    <mat-option  >

                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-xs-12">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="comment" placeholder="comment" value="comments">
            </mat-form-field>
        </div>
        <div class="col-md-1 col-xs-12">
            <button mat-raised-button class="mat-primary"> <span class="fa fa-plus-circle"> Add</span>  </button>
        </div>
    </div>

</form>