<form class="form-group" novalidate  [formGroup]="HIVStatusFormGroup">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-blue">
                            <span class="widget-caption">
                                <i class="typcn typcn-keyboard"></i> HIV Status </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <mat-form-field class="col-md-12">
                                            <mat-select placeholder="Select Result">
                                                <mat-option formControlName="hivTestingDone" placeholder="HIV testing done during this visit" *ngFor="let hivTesting of hivTestings"
                                                    [value]="hivTesting.value">
                                                    {{hivTesting.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12"></div>
                                </div>
                                <div class="col-md-12">

                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                                        <mat-form-field class="col-md-12">
                                            <mat-select placeholder="Select Result">
                                                <mat-option formControlName="test" placeholder="Test" *ngFor="let Test of Tests" [value]="Test.value">
                                                    {{Test.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6"></div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                                        <h5>Kit Name ?</h5>
                                        <mat-radio-group aria-required="true" formControlName="kitName" placeholder="Kit Name" aria-required="true">
                                            <mat-radio-button class="col-md-12" value="1">Yes</mat-radio-button>
                                            <mat-radio-button class="col-md-12" value="2">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                                        <mat-form-field class="col-md-12">

                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6"></div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6"></div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6"></div>
                                    <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6"></div>
                                    <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6"></div>
                                    <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6"></div>
                                </div>


                                <div class="col-md-12">

                                    <div class="col-md-10 cl-xs-12">
                                        <mat-form-field class="col-md-12">
                                            <mat-select placeholder="Patient Counselled On ?" formControlName="counselledOn" required>
                                                <mat-option id="slctTopic" *ngFor="let testResult of testResults" [value]="testResult.value">
                                                    {{testResult.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 cl-xs-12">
                                        <button mat-button id="btnAdd" class="btn btn-primary "> Add Lesson</button>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-12">

                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <button class="primary" mat-button matStepperPrevious>Back</button>
                                        <button class="primary" mat-button matStepperNext>Next</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>