<form class="form-group" novalidate  [formGroup]="HIVStatusFormGroup">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-blue">
                            <span class="widget-caption">
                                <i class="typcn typcn-keyboard"></i> HIV Status </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">

                                        <mat-form-field class="col-md-12">
                                            <mat-select formControlName="testingDone" placeholder="HIV testing done during this visit">
                                                <mat-option placeholder="HIV testing done during this visit" *ngFor="let hivTesting of hivTestings"
                                                    [value]="hivTesting.value">
                                                    {{hivTesting.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12"></div>
                                </div>
                                <div class="col-md-12">

                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">

                                        <mat-form-field class="col-md-12">
                                            <mat-select formControlname="hivTest" placeholder="Select Result" required>
                                                <mat-option  placeholder="Test" *ngFor="let Test of Tests" [value]="Test.value">
                                                    {{Test.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">

                                        <mat-form-field class="col-md-12">
                                            <mat-select formControlname="kitName" placeholder="Select Kit used" required>
                                                <mat-option  placeholder="Test" *ngFor="let Test of Tests" [value]="Test.value">
                                                    {{Test.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                                            <mat-form-field class="col-md-12">
                                                <input class="col-md-12" matInput placeholder="Lot No" value="" required>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                                        <mat-form-field class="col-md-12">
                                            <input id="expiryDate" matInput [matDatepicker]="expiryDate" formControlname="expiryDate" placeholder="expiry Date" required>
                                            <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
                                            <mat-datepicker #expiryDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>


                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">

                                        <mat-form-field class="col-md-12">
                                            <mat-select formControlname="testResult" placeholder="test Result" required>
                                                <mat-option  placeholder="Test" *ngFor="let Test of Tests" [value]="Test.value">
                                                    {{Test.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                                        <mat-form-field class="col-md-12">
                                            <mat-select formControlname="finalResult" placeholder="final Result" required>
                                                <mat-option  placeholder="Test" *ngFor="let Test of Tests" [value]="Test.value">
                                                    {{Test.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                                        <mat-form-field class="col-md-12">
                                            <input id="nextAppointmentDate" matInput [matDatepicker]="nextAppointmentDate" formControlname="nextAppointmentDate" placeholder="Next Appointment Date" required>
                                            <mat-datepicker-toggle matSuffix [for]="nextAppointmentDate"></mat-datepicker-toggle>
                                            <mat-datepicker #nextAppointmentDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6"></div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6"></div>
                                </div>


                                <div class="col-md-12">
                                    <div class="col-md-12">

                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <button class="primary" mat-button matStepperPrevious>Back</button>
                                        <button class="primary" mat-button matStepperNext>Next</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>