<form class="form-group" novalidate [formGroup]="TbAssessmentFormGroup">

    <div class="row">
        <div class="col-md-12">
            <div class="form-title">
                <span class="mat-accent"> TB Assessment </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Currently on Anti TB drugs?</mat-label>
                <mat-select formControlName="currentlyOnAntiTb">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId"
                        (onSelectionChange)="onAntiTbDrugsChange($event)">
                        {{yesnoOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-9"></div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-title">
                <span class="mat-accent"> Symptomatic Screening </span>
            </div>
        </div>

        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Cough of any duration</mat-label>
                <mat-select formControlName="coughAnyDuration">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId"
                        (onSelectionChange)="onSymptomaticScreeningChange($event,'cough')">
                        {{yesnoOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Fever</mat-label>
                <mat-select formControlName="fever">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId"
                        (onSelectionChange)="onSymptomaticScreeningChange($event,'fever')">
                        {{yesnoOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Weight loss/Poor gain</mat-label>
                <mat-select formControlName="weightLoss">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId"
                        (onSelectionChange)="onSymptomaticScreeningChange($event,'weightloss')">
                        {{yesnoOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Contact with TB</mat-label>
                <mat-select formControlName="contactTB">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId"
                        (onSelectionChange)="onSymptomaticScreeningChange($event,'contactTb')">
                        {{yesnoOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-title">
                <span class="mat-accent"> ICF Action Taken </span>
            </div>
        </div>

        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Sputum Smear</mat-label>
                <mat-select formControlName="sputumSmear">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let sputumSmearOption of sputumSmearOptions" [value]="sputumSmearOption.itemId">
                        {{sputumSmearOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Gene Xpert</mat-label>
                <mat-select formControlName="geneXpert">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let geneXpertOption of geneXpertOptions" [value]="geneXpertOption.itemId">
                        {{geneXpertOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Chest X-ray</mat-label>
                <mat-select formControlName="chestXray">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let chestXrayOption of chestXrayOptions" [value]="chestXrayOption.itemId">
                        {{chestXrayOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Invitation of Contacts</mat-label>
                <mat-select formControlName="invitationContacts">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId">
                        {{yesnoOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-title">
                <span class="mat-accent"> Isoniazid Preventive Therapy (IPT) </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Currently on IPT ?</mat-label>
                <mat-select formControlName="onIPT">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId"
                        (onSelectionChange)="onCurrentIPTChange($event)">
                        {{yesnoOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>Start IPT ?</mat-label>
                <mat-select formControlName="startIPT">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId"
                        (onSelectionChange)="onStartIPTChange($event)">
                        {{yesnoOption.itemName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-xs-12"></div>
        <div class="col-lg-3 col-xs-12"></div>
    </div>


    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <mat-form-field class="col-md-12">
                <mat-label>TB Screening Outcome</mat-label>
                <mat-select formControlName="tbScreeningOutcome">
                    <mat-option [value]="">select</mat-option>
                    <mat-option *ngFor="let tbScreeningOutcomeOption of tbScreeningOutcomeOptions"
                        [value]="tbScreeningOutcomeOption.itemId">
                        {{tbScreeningOutcomeOption.itemDisplayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-xs-12"></div>
        <div class="col-lg-3 col-xs-12"></div>
    </div>


    <div class="row">
        <div class="col-lg-12 pull-left">
            <button style="margin-right:5px " mat-raised-button class="mat-accent col-lg-2"
                [disabled]="iptClientWorkIsDisabled" (click)="openIPTClientWorkupDialog()"> <span
                    class="fa fa-plus-circle"> IPT Client Workup</span></button>
            <button style="margin-right:5px" mat-raised-button class="mat-primary col-lg-2 "
                [disabled]="iptFollowupIsDisabled" (click)="openIPTFollowUpDialog()"><span
                    class=" fa fa-plus-circle">IPT Follow Up</span></button>
            <button mat-raised-button class="mat-warn col-lg-2" [disabled]="iptOUtcomeIsDisabled"
                (click)="openIPTOutcomeDialog()"><span class=" fa fa-plus-circle"> IPT Outcome</span></button>
            <div class="col-lg-3"></div>
        </div>
    </div>

</form>
