<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="form-title">
        <span class="mat-accent"> HIV Testing </span>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <button mat-raised-button class="mat-primary" (click)="AddHivTests()">
            <span class="fa fa-plus-circle">
                Add New HIV Test
            </span>
        </button>
    </div>
</div>

<div class="row">&nbsp;&nbsp;</div>

<div class="row">
    <div class="example-container mat-elevation-z0">

        <mat-table #table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="testtype">
                <mat-header-cell *matHeaderCellDef><strong> Test Type </strong> </mat-header-cell>
                <mat-cell *matCellDef="let HivTestingTableData">
                    {{ HivTestingTableData.testtype.itemName }}
                </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dateofsamplecollection">
                <mat-header-cell *matHeaderCellDef> <strong> Date of Sample Collection </strong> </mat-header-cell>
                <mat-cell *matCellDef="let HivTestingTableData">
                    {{ HivTestingTableData.dateofsamplecollection | date: 'dd-MMM-yyyy' }}
                </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="result">
                <mat-header-cell *matHeaderCellDef> <strong> Results </strong> </mat-header-cell>
                <mat-cell *matCellDef="let HivTestingTableData">
                    {{ HivTestingTableData.result ? HivTestingTableData.result.itemName :
                    HivTestingTableData.resultText }}
                </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="dateresultscollected">
                <mat-header-cell *matHeaderCellDef><strong>Date Result Collected</strong> </mat-header-cell>
                <mat-cell *matCellDef="let HivTestingTableData">
                    {{ HivTestingTableData.dateresultscollected | date: 'dd-MMM-yyyy'}}
                </mat-cell>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef><strong>Status</strong> </mat-header-cell>
                <mat-cell *matCellDef="let HivTestingTableData">
                    <div *ngIf="HivTestingTableData.status == 'update';else heiLabOrdertemplate">
                        <a class="btn btn-sm btn-primary" (click)="completeLabOrder(HivTestingTableData)">
                            Add Results
                        </a>
                    </div>
                    <ng-template #heiLabOrdertemplate>
                        <div *ngIf="HivTestingTableData.status == 'complete';">
                            <span class="label label-green">Complete</span>
                        </div>
                        <div *ngIf="HivTestingTableData.status == 'pending';">
                            <span class="label label-orange">Pending</span>
                        </div>
                    </ng-template>
                </mat-cell>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef><strong class="fa fa-cog"> Action</strong></mat-header-cell>
                <mat-cell *matCellDef="let HivTestingTableData">
                    <div *ngIf="HivTestingTableData.status == 'update';else heiLabOrdertemplate">
                        <button mat-raised-button class="mat-accent" style="pointer-events: none;opacity: 0.6;">
                            <span class="fa fa-trash-o">
                                Delete
                            </span>
                        </button>
                    </div>
                    <ng-template #heiLabOrdertemplate>
                        <div *ngIf="HivTestingTableData.status == 'complete';">
                            <button mat-raised-button class="mat-accent" style="pointer-events: none;opacity: 0.6;">
                                <span class="fa fa-trash-o">
                                    Delete
                                </span>
                            </button>
                        </div>
                        <div *ngIf="HivTestingTableData.status == 'pending';">
                            <button mat-raised-button class="mat-accent" (click)="onRowClicked(row)">
                                <span class="fa fa-trash-o">
                                    Delete
                                </span>
                            </button>
                        </div>
                    </ng-template>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns">
            </mat-row>
        </mat-table>
    </div>
</div>

<div class="row">&nbsp;&nbsp;</div>