<form class="form-group" novalidate  [formGroup]="clientMonitoringFormGroup">
    <div class="row">
        <div class="col-md-12">
            <div class="form-title">
                <span class="mat-accent"> Client Monitoring</span>
            </div>
        </div>

          <div class="row">

              <div class="col-lg-4 col-sm-6 col-xs-12">
                  <mat-form-field class="col-md-12">
                      <mat-select formControlName="WhoStage"   placeholder="WHO Stage">
                          <mat-option value="0">Select</mat-option>
                          <mat-option  *ngFor="let WHOStagOption of WHOStagOptions" [value]="WHOStagOption.itemId" required>
                              {{WHOStagOption.itemName}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12">
                  <mat-form-field class="col-md-12">
                      <mat-select formControlName="viralLoadSampleTaken"  placeholder="Viral Load Sample taken?">
                          <mat-option value="0">Select</mat-option>
                          <mat-option  *ngFor="let item of YesNoNa" [value]="item.itemId " required>
                              {{item.itemName}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12">
                  <mat-form-field class="col-md-12">
                      <mat-select formControlName="screenedForTB"  placeholder="*Screened for TB">
                          <mat-option value="0">Select</mat-option>
                          <mat-option  *ngFor="let TBOption of TBOptions" [value]="TBOption.itemId" required>
                              {{TBOption.itemName}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-4 col-xs-12 col-sm-6">
                  <mat-form-field class="col-md-12">
                      <mat-select formControlName="cacxScreeningDone"  placeholder="Cervical Cancer Screened during this visit">
                          <mat-option value="0">Select</mat-option>
                          <mat-option  *ngFor="let yesno of YesNos" [value]="yesno.itemId" required>
                              {{yesno.itemName}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-lg-4 col-xs-12 col-sm-6">
                  <mat-form-field class="col-md-12">
                      <mat-select formControlName="cacxMethod"  placeholder="Select Method">
                          <mat-option value="0">Select</mat-option>
                          <mat-option   *ngFor="let CaCxMethod of CaCxMethods" [value]="CaCxMethod.itemId" required>
                              {{CaCxMethod.itemName}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-lg-4 col-xs-12 col-sm-6">
                  <mat-form-field class="col-md-12">
                      <mat-select formControlName="cacxResult"  placeholder="Select Result">
                          <mat-option value="0">Select</mat-option>
                          <mat-option  *ngFor="let CacxResult of CacxResults" [value]="CacxResult.itemId" required>
                              {{CacxResult.itemName}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>


           <div class="row">

                              <div class="col-md-12">
                                  <mat-form-field class="col-md-12">
                                      <textarea matInput formControlName="cacxComments" placeholder="Cervical Cancer Comments" required></textarea>
                                  </mat-form-field>
                              </div>

           </div>

      </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div>
            <button mat-raised-button  class="mat-primary" mat-button matStepperNext style="margin-right:5px">Next</button>
            <button mat-raised-button class="mat-accent"  matStepperPrevious>Previous</button>

        </div>
    </div>
</div>