<div class="ibox">
  <div class="ibox-content">
    <form id="form" action="#" class="wizard-big">
      <fieldset>
        <h2>Family Member Tracing Form</h2>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Type Of Tracing</label>
              <select class="form-control m-b">
                <option></option>
                <option>Physical</option>
                <option>Phone</option>
              </select>
            </div>

            <div class="form-group">
              <label>Date Index client reminded of contact testing</label>
              <input type="date" class="form-control" id="dateIndexReminded">
            </div>

            <div class="form-group">
              <label>Consented Testing</label>
                <select class="form-control" id="consentTesting">
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label>Date Family member Contacted</label>
              <input type="date" id="dateFamilyContacted" class="form-control">
            </div>

            <div class="form-group">
              <label>Family Tracing Outcome</label>
              <select id="consent" name="consent" class="form-control m-b">
                <option></option>
                <option>Contacted</option>
                <option>Not Contacted</option>
              </select>
            </div>

              <div class="form-group">
                  <label>Date booked for testing</label>
                  <input type="date" class="form-control" id="dateBookedForTesting">
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <button class="btn btn-primary m-t-n-xs" value="submit">
                <strong>Save Changes</strong>
              </button>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
