<h2 mat-dialog-title>{{title}}</h2>

<mat-divider></mat-divider>
<br>

<form [formGroup]="form">
    <mat-dialog-content>
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field>
                    <mat-select placeholder="Contact Registered In Facility?" formControlName="isRegisteredInFacility">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let option of yesno" [value]="option" (onSelectionChange)="onContactRegisteredInClinicChange($event)">{{option.itemName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <button mat-raised-button color="primary" type="button" class="col-lg-6 col-sm-6 col-xs-12" *ngIf="contactRegisteredInClinic"
                    (click)="openDialog()">
                    Find Contact
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field>
                    <input matInput placeholder="Kin's FirstName" formControlName="firstName" id="nextOfKinFirstName"
                        name="nextOfKinFirstName">
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field>
                    <input matInput placeholder="Kin's MiddleName" formControlName="middleName" id="nextOfKinMiddleName"
                        name="nextOfKinMiddleName">
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field>
                    <input matInput placeholder="Kin's LastName" formControlName="lastName" id="nextOfKinLastName" name="nextOfKinLastName">
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field>
                    <mat-select placeholder="Gender" formControlName="sex">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let option of gender" [value]="option">{{option.itemName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field>
                    <mat-select placeholder="Kin's Relationship" formControlName="kinContactRelationship" id="nextOfKinRelationship"
                        name="nextOfKinRelationship">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let option of relationship" [value]="option">{{option.itemName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field>
                    <input matInput placeholder="Mobile No." formControlName="kinMobileNumber" id="nextOfKinMobileNumber"
                        name="nextOfKinMobileNumber" [pattern]="phonePattern">
                    <div *ngIf="form.controls.kinMobileNumber.errors && (form.controls.kinMobileNumber.dirty || form.controls.kinMobileNumber.touched)"
                        class="alert alert-danger">
                        <div [hidden]="!form.controls.kinMobileNumber.errors.pattern">
                            Invalid Phone No!
                            <br>
                            Please enter a valid Kenyan mobile phone number. Format
                            ((+2547XXXXXXXX) or (07XXXXXXXX) or (2547XXXXXXXX))
                        </div>
                    </div>
                </mat-form-field>
            </div>

            <div class="col-lg- 6 col-sm-6 col-xs-12">
                <mat-form-field>
                    <mat-select placeholder="Consent to Calls/SMS to this contact in case of emergencies"
                        formControlName="kinConsentToSMS" id="nextOfKinConsent" name="nextOfKinConsent"
                        (selectionChange)="onConsentChange()">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let option of consentSms" [value]="option">{{option.itemName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field>
                    <input matInput placeholder="Consent Decline Reason" formControlName="consentDeclineReason" id="nextOfKinConsentDeclineReason"
                        name="nextOfKinConsentDeclineReason">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field>
                    <mat-select placeholder="ContactType" formControlName="kinContactType" id="kinContactType" name="kinContactType">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let option of contactCategory" [value]="option">{{option.itemName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
    </mat-dialog-actions>
</form>