<form class="form-group" [formGroup]="MaternalHistoryForm">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="form-title">
                <span class="mat-accent"> Maternal History </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Mother Registered at this clinic</mat-label>
                    <mat-select formControlName="motherregisteredinclinic" required>
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId"
                            (onSelectionChange)="onMotherRegisteredInClinicChange($event)">
                            {{ yesnoOption.itemName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>State of Mother</mat-label>
                    <mat-select formControlName="stateofmother" required>
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let motherstateOption of motherstateOptions"
                            [value]="motherstateOption.itemId">
                            {{ motherstateOption.itemName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Primary Care Giver</mat-label>
                    <mat-select formControlName="primarycaregiver" required>
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let primarycaregiverOption of primarycaregiverOptions"
                            [value]="primarycaregiverOption.itemId">
                            {{ primarycaregiverOption.itemName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <button mat-raised-button color="primary" type="button" class="col-lg-4 col-sm-4 col-xs-12"
                    *ngIf="isMotherRegistered" (click)="openDialog()">
                    Find Mother
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Name of Mother</mat-label>
                    <input matInput id="nameofmother" formControlName="nameofmother" name="nameofmother" required>
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>CCC No.</mat-label>
                    <input matInput id="cccno" formControlName="cccno" name="cccno" autocomplete="off"
                        [pattern]="cccPattern">
                    <div *ngIf="MaternalHistoryForm.controls.cccno.errors && (MaternalHistoryForm.controls.cccno.dirty || MaternalHistoryForm.controls.cccno.touched)"
                        class="alert alert-danger">
                        <div [hidden]="!MaternalHistoryForm.controls.cccno.errors.required">
                            CCC Number is required!
                        </div>
                        <div [hidden]="!MaternalHistoryForm.controls.cccno.errors.pattern">
                            Invalid CCC format!
                        </div>
                    </div>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Mother Received drugs for PMTCT</mat-label>
                    <mat-select formControlName="pmtctheimotherreceivedrugs" required>
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let motherreceivedrugsOption of motherreceivedrugsOptions"
                            [value]="motherreceivedrugsOption.itemId"
                            (onSelectionChange)="onMotherReceivedDrugsChange($event)">
                            {{ motherreceivedrugsOption.itemName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Regimen</mat-label>
                    <mat-select formControlName="pmtctheimotherregimen" required>
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let heimotherregimenOption of heimotherregimenOptions"
                            [value]="heimotherregimenOption.itemId">
                            {{ heimotherregimenOption.itemName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Other Specify</mat-label>
                    <input matInput id="otherspecify" formControlName="otherspecify" name="otherspecify"
                        autocomplete="off" required>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Mother on ART at infant enrolment</mat-label>
                    <mat-select formControlName="motheronartatinfantenrollment" required>
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let yesnoOption of yesnoOptions" [value]="yesnoOption.itemId"
                            (onSelectionChange)="onMotherOnArtAtInfantEnrollmentChange($event)">
                            {{ yesnoOption.itemName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Regimen</mat-label>
                    <mat-select formControlName="pmtctheimotherdrugsatinfantenrollment" required>
                        <mat-option [value]=""></mat-option>
                        <mat-option
                            *ngFor="let motherdrugsatinfantenrollmentOption of heimotherregimenOptions"
                            [value]="motherdrugsatinfantenrollmentOption.itemId">
                            {{ motherdrugsatinfantenrollmentOption.itemName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>