<div class="row">
    <div class="col-md-12">
        <div class="form-title">
            <span class="mat-accent"> Adverse Events </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <button mat-raised-button class="mat-primary" (click)="newAllergies()">
            <span class="fa fa-plus-circle">
                Add Adverse Events
            </span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="example-container mat-elevation-z0">

            <mat-table #table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="allergy">
                    <mat-header-cell *matHeaderCellDef><strong>Adverse Events</strong> </mat-header-cell>
                    <mat-cell *matCellDef="let AllergyTableData">
                        {{
                                AllergyTableData.allergy
                            }}
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="reactionType">
                    <mat-header-cell *matHeaderCellDef><strong>Severity</strong></mat-header-cell>
                    <mat-cell *matCellDef="let AllergyTableData">
                        {{
                                AllergyTableData.reactionType
                            }}
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="severity">
                    <mat-header-cell *matHeaderCellDef><strong>Action</strong></mat-header-cell>
                    <mat-cell *matCellDef="let AllergyTableData">
                        {{
                                AllergyTableData.severity
                            }}
                    </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="onsetDate">
                    <mat-header-cell *matHeaderCellDef> <strong>Adverse Event Outcome</strong> </mat-header-cell>
                    <mat-cell *matCellDef="let AllergyTableData">
                        {{
                                AllergyTableData.onsetDate | date: 'dd-MMM-yyyy'
                            }}
                    </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef><strong>Active</strong> </mat-header-cell>
                    <mat-cell *matCellDef="let AllergyTableData">
                        <ng-container *ngIf="AllergyTableData.active">
                            {{ 
                                    AllergyTableData.active 
                                }}
                        </ng-container>
                    </mat-cell>
                </ng-container>


                <!-- actions -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef><strong class="fa fa-cog"> Action</strong></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-raised-button class="mat-accent" (click)="onRowClicked(row)">
                            <span class="fa fa-trash-o"> Delete</span>
                        </button>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>
            </mat-table>
        </div>
    </div>
</div>
<div>
    &nbsp;
</div>