<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3">
    <i class="fa fa-user fa-3x pull-left"></i> <strong><h3>{{this.clientBrief.fullName}}</h3></strong>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3">
    Registration Date: {{this.clientBrief.enrollmentDate | date: 'dd-MMM-yyyy'}}
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3">
    Age: {{this.clientBrief.age}}
  </div>

</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3">
    &nbsp;
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3">
    Serial No: {{this.clientBrief.identifierValue}}
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3">
    Sex: {{this.clientBrief.gender}}
  </div>
</div>