--USE [IQCareDefault]
--GO
/****** Object:  Table [dbo].[ServiceArea]    Script Date: 3/23/2017 3:08:22 AM ******/
DROP TABLE [dbo].[ServiceArea]
GO
/****** Object:  Table [dbo].[LookupMasterItem]    Script Date: 3/23/2017 3:08:22 AM ******/
DROP TABLE [dbo].[LookupMasterItem]
GO
/****** Object:  Table [dbo].[LookupMaster]    Script Date: 3/23/2017 3:08:22 AM ******/
DROP TABLE [dbo].[LookupMaster]
GO
/****** Object:  Table [dbo].[LookupItem]    Script Date: 3/23/2017 3:08:22 AM ******/
DROP TABLE [dbo].[LookupItem]
GO
/****** Object:  Table [dbo].[County]    Script Date: 3/23/2017 3:08:22 AM ******/
DROP TABLE [dbo].[County]
GO
/****** Object:  Table [dbo].[County]    Script Date: 3/23/2017 3:08:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[County](
	[Id] [int] NOT NULL,
	[CountyId] [int] NULL,
	[CountyName] [nvarchar](255) NULL,
	[SubcountyId] [int] NULL,
	[Subcountyname] [nvarchar](255) NULL,
	[WardId] [int] NULL,
	[WardName] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookupItem]    Script Date: 3/23/2017 3:08:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LookupItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DisplayName] [varchar](150) NOT NULL,
	[DeleteFlag] [bit] NOT NULL CONSTRAINT [DF_LookupMaster_DeleteFlag]  DEFAULT ((0)),
 CONSTRAINT [PK_LookupMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LookupMaster]    Script Date: 3/23/2017 3:08:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LookupMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DisplayName] [varchar](150) NULL,
	[DeleteFlag] [bit] NOT NULL CONSTRAINT [DF_LookupItem_DeleteFlag]  DEFAULT ((0)),
 CONSTRAINT [PK_LookupItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LookupMasterItem]    Script Date: 3/23/2017 3:08:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LookupMasterItem](
	[LookupMasterId] [int] NOT NULL,
	[LookupItemId] [int] NOT NULL,
	[DisplayName] [varchar](50) NULL,
	[OrdRank] [decimal](5, 2) NULL CONSTRAINT [DF_LookupMasterItem_OrdRank]  DEFAULT ((0.00)),
 CONSTRAINT [PK_LookupMasterItem] PRIMARY KEY CLUSTERED 
(
	[LookupMasterId] ASC,
	[LookupItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServiceArea]    Script Date: 3/23/2017 3:08:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceArea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[Code] [varchar](10) NULL,
	[DisplayName] [varchar](150) NULL,
	[Void] [bit] NULL CONSTRAINT [DF_ServiceArea_Void]  DEFAULT ((0)),
	[VoidDate] [datetime] NULL CONSTRAINT [DF_ServiceArea_VoidDate]  DEFAULT (getdate()),
	[CreateBy] [int] NOT NULL CONSTRAINT [DF_ServiceArea_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_ServiceArea_CreateDate]  DEFAULT (getdate()),
	[VoidBy] [int] NOT NULL CONSTRAINT [DF_ServiceArea_VoidBy]  DEFAULT ((0)),
 CONSTRAINT [PK_ServiceArea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[County] ([Id], [CountyId], [CountyName], [SubcountyId], [Subcountyname], [WardId], [WardName]) VALUES (1, 1, N'MOMBASA', 1, N'CHANGAMWE', 1, N'PORT REITZ')
INSERT [dbo].[County] ([Id], [CountyId], [CountyName], [SubcountyId], [Subcountyname], [WardId], [WardName]) VALUES (2, 1, N'MOMBASA', 1, N'CHANGAMWE', 2, N'KIPEVU')
INSERT [dbo].[County] ([Id], [CountyId], [CountyName], [SubcountyId], [Subcountyname], [WardId], [WardName]) VALUES (3, 1, N'MOMBASA', 1, N'CHANGAMWE', 3, N'AIRPORT')
GO
SET IDENTITY_INSERT [dbo].[LookupItem] ON 

INSERT [dbo].[LookupItem] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (1, N'FP', N'Family Planning', 0)
INSERT [dbo].[LookupItem] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (2, N'NOFP', N'No Family Planning', 0)
INSERT [dbo].[LookupItem] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (3, N'WFP', N'Wants Family Planning', 0)
GO
SET IDENTITY_INSERT [dbo].[LookupItem] OFF
SET IDENTITY_INSERT [dbo].[LookupMaster] ON 

INSERT [dbo].[LookupMaster] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (1, N'FPMethod', NULL, 0)
INSERT [dbo].[LookupMaster] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (2, N'Entrypoint', NULL, 0)
INSERT [dbo].[LookupMaster] ([Id], [Name], [DisplayName], [DeleteFlag]) VALUES (3, N'VisitType', NULL, 0)
SET IDENTITY_INSERT [dbo].[LookupMaster] OFF
INSERT [dbo].[LookupMasterItem] ([LookupMasterId], [LookupItemId], [DisplayName], [OrdRank]) VALUES (1, 4, N'Condoms', CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[LookupMasterItem] ([LookupMasterId], [LookupItemId], [DisplayName], [OrdRank]) VALUES (1, 5, N'Emergency Contraceptive Pills', CAST(2.00 AS Decimal(5, 2)))
INSERT [dbo].[LookupMasterItem] ([LookupMasterId], [LookupItemId], [DisplayName], [OrdRank]) VALUES (1, 6, N'Oral Contraceptive Pills', CAST(3.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[ServiceArea] ON 

INSERT [dbo].[ServiceArea] ([Id], [Name], [Code], [DisplayName], [Void], [VoidDate], [CreateBy], [CreateDate], [VoidBy]) VALUES (1, N'CCC', N'CCC', N'MoH 257 GREENCARD', 0, NULL, 0, CAST(N'2016-12-13 11:06:57.790' AS DateTime), 0)
INSERT [dbo].[ServiceArea] ([Id], [Name], [Code], [DisplayName], [Void], [VoidDate], [CreateBy], [CreateDate], [VoidBy]) VALUES (2, N'TB CLINIC', N'TB', N'TB REGISTER', 0, NULL, 0, CAST(N'2016-12-13 11:06:57.790' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ServiceArea] OFF
