/*import "assets/css.css";
@import "assets/css_2.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-snotify/styles/material.css";
@import "~material-icons/iconfont/material-icons.css";
