<form class="form-group" novalidate [formGroup]="PreventiveServicesFormGroup">
    <div class="row">

        <div class="col-md-12">
            <div class="form-title">
                <span class="mat-accent"> Preventive Services </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6">
                <mat-form-field class="col-md-12">
                    <mat-select formControlName="preventiveServices" placeholder="Preventive Service">
                        <mat-option value="0"> Select</mat-option>
                        <mat-option *ngFor="let service of services" [value]="service.itemId" required minlength="0">
                            {{service.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6">
                <mat-form-field class="col-md-12">
                    <input formControlName="dateGiven" id="dateGiven" matInput [matDatepicker]="dateGiven"
                           placeholder="Date Given">
                    <mat-datepicker-toggle matSuffix [for]="dateGiven"></mat-datepicker-toggle>
                    <mat-datepicker #dateGiven></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6">
                <mat-form-field class="col-md-12">
                    <input formControlName="comments" matInput placeholder="Comments">
                </mat-form-field>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6">
                <mat-form-field class="col-md-12">
                    <input formControlName="nextSchedule" id="nextSchedule" matInput [matDatepicker]="nextSchedule"
                           placeholder="Next Schedule">
                    <mat-datepicker-toggle matSuffix [for]="nextSchedule"></mat-datepicker-toggle>
                    <mat-datepicker #nextSchedule></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6">
                <button mat-raised-button color="primary"><span class="fa fa-plus-circle"> Add Service </span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-select formControlName="insecticideTreatedNet" placeholder="Insecticide Treated Net given">
                        <mat-option value="0"> Select</mat-option>
                        <mat-option *ngFor="let yesno of yesnos" [value]="yesno.itemId" required minlength="0">
                            {{yesno.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field class="col-md-12">
                    <input formControlName="insecticideTreatedNetGivenDate" matInput
                           [matDatepicker]="insecticideGivenDate" placeholder="Date Insecticide Treated Net Given">
                    <mat-datepicker-toggle matSuffix [for]="insecticideGivenDate"></mat-datepicker-toggle>
                    <mat-datepicker #insecticideGivenDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-select formControlName="antenatalExercise"
                                placeholder="Underwent antenatal exercise on this visit">
                        <mat-option value="0"> Select</mat-option>
                        <mat-option *ngFor="let yesno of yesnos" [value]="yesno.itemId" minlength="0">
                            {{yesno.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-title">
                    <span class="mat-accent"> Partner Testing </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="col-md-12">
                    <mat-select formControlName="PartnerTestingVisit" placeholder="Partner Tested during this visit">
                        <mat-option *ngFor="let YesNoNa of YesNoNas" [value]="YesNoNa.itemId">
                            {{YesNoNa.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="col-md-12">
                    <mat-select formControlName="finalHIVResult" placeholder="Final HIV Result for Partner">
                        <mat-option *ngFor="let FinalResult of FinalResults" [value]="FinalResult.itemId">
                            {{FinalResult.itemName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <div>
            <button mat-raised-button class="mat-accent" matStepperPrevious><span class="fa fa-arrow-circle-o-left"> Previous</span>
            </button>
            <button mat-raised-button class="mat-primary" mat-button matStepperNext style="margin-right:5px"><span
                    class="fa fa-arrow-circle-o-right" (click)="moveNextStep()"> Next</span></button>
        </div>
    </div>
</div>
