<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<!-- Mathari-->
		<!-- Avoid checking in this file. it is used for local testing-->
		<!--<add key ="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7alm+++zc/cRLAy/fvcb/HrBieU7eFFfANBc/wPDOqy7IMvrgOktiUIs9xfdU0WlC7s4EDX6O653wyFc+vADMOaI+dntBRFhPV0Qdercb+m3JVi9LOkVWn06y8yOXbGgoucLThQcBqaR/AiF9jWTgtMS+UR+bFHNVr8sfQ5YdWCjewPCzkDbNkjQ0JqPjgP20wW78CCf8gVg6zT"/>-->
		<!-- TumainiIsiolo-->
		<!-- <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7alm+++zc/cRLAy/fvcb/HrBieU7eFFfANBc/wPDOqy7IMvrgOktiUIs9xfdU0WlC7s4E6K1QKHksVeCcoEIwJ3ks9X8A4/I5KgNzxNRmwWlIDGjaiyedU5b+dWX214c9dtF7f74JbpcQJhkGFKghyk6zrqOCUVm54HaqvpdQuwTLbfejuTVJY5Og4GRvK1hAvT1aI9PYoTb4uI"/>  !-->
		<!-- MRTH Live-->
		<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFZDjc+a+Lqsf7nWsw5eufVhqPWn/22JmorrB1bWpl6TymWPQf4XRlxExlh16m2FZxP0dMZya1Zb2hH3Y1l5U6udOUuY2CzqWRQJ2O1zTgbfSIpUe+nLIeZbJA/zSVhROd9nu6M7MxjfBNQxdpeHWBrwPpPWHiVwBDiHdeFCZj0F1PwAjcZF3/+nfV46fA+yQrqqD8+sGlsTAg=="/>-->
		<!-- MRTH 2008 -->
	<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7alm+++zc/cRLAy/fvcb/HrBieU7eFFfANBc/wPDOqy7IMvrgOktiUIs9xfdU0WlC7s4JMF+546AeBfy/ITZ6zfpB7GNEZ25Zj1Mos5DPs15PmIPCNZq9pLh0x/fMSZH0x5wawZ7qo314aVOifloOYx/tEhqj2XZ6H3j/0jNnnxkpc1o2IC44zjtvH6qRTs6lk31g==" />-->
		<!-- MRTH 2014 -->
		<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7alm5Ys++qSumxz2y4q17Odjc/BO5XpbjUFkxRpEHWbOovJt4feF1R74iMS//Wo6K5I9++MDmiLAPA3pbkHexm0/5LcmKlk99eut+BwtIji7BKDKxqcP/LNxxtVqT1ZPFQuuwxjWB3ejiIbYifKZipDQPnONS5r0DgVgpDhqT7INOGCbocZCNhjqkEHsw718v/MAJLPQrvWUI/BDyq9GdDZzRA="/>-->
		<!-- mine -->
	<!-- <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7alm4IjzO1TWQx7vVaVGTgQSf59fRWxWTpHYgFSr1Eu/gyn2JP7AIMCGXtOAJxKmLRPq4T4ms/InYtZ3sMIg5hs3n1uF94QPODbI8oy5vXOeJkBEtGZ1+fAwoX+doESPC3JR8EQgy5VdvMADlmCNIqvw0e/GPgQiQTIkWdbheTZBQRNr2Ei29Q2SM5tB3mo9WlE0Ze0dyrZJXxBZqRGJ7bsOXo=" />!-->
	<!-- Rebeun -->
    <!--IQCARE /EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7alm+++zc/cRLAy/fvcb/HrBieU7eFFfANBc/wPDOqy7IMvrgOktiUIs9xfdU0WlC7s4Hc/EOiNA1xyAlMSsedr5cA9E99pYgaHmwADlmGGbXkNVa8I7f2lw/H9MXYJZld+1KQbWppwzcrcSLGorSSakSd9QL4F05FSsfZEL16DK8HD6OHYVTWjWmzswxGmLIgQNQ== -->

    <!--IQCAREDEFAULT /EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7alm+++zc/cRLAy/fvcb/HrBieU7eFFfANBc/wPDOqy7IMvrgOktiUIs9xfdU0WlC7s4Hc/EOiNA1xyqiVyVVwrEGzhbnZptmHRHuMDZcf/xxsKIIF6jgygFmUXUz3y4jC20F9AhOi9XqH1JWQG6VAbf5305gxtIwQN7YKbnTzaBZzWhWOQ+7GMDOK8wgAc0bTLF+dnY7im7mM2 -->
		<!--IQCARE_BILLING /EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7alm+++zc/cRLAy/fvcb/HrBieU7eFFfANBc/wPDOqy7IMvrgOktiUIs9xfdU0WlC7s4Hc/EOiNA1xyhWk2uv4O8wpmlJQD1pgPg8T9HjUQUCAnTvtum/7ortNbeR85QWZviyxxwn8xLw4HQP4W6hIwwe0RCWYywX5hsB8FBm6+w1yTL3SXmQitn5yzSaV1cNlzAy5JtnNPNP2P -->

  <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFY9Di34h2lAeDjxY/Mz17/npLfWKerNOvL+I/f1W83FCN9HDKjc71IIKk8QlMPNuOSYGNev6VA64mx5CkMtCABZCLOKh/kTq7CxuLrUfe8B0RCWUdcMbtsA9jmHlwa2tu7MpUEN0D9m2gui4YoGMreMTPu4wfmcF+5LAkbqFewXdHIO+12yebsElb3aRrlYxpFGlG0rNIBPnw=="/>
	 <!-- Tumaini Isiolo-->
		<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7almx3pHe5Hxio91uiUwrw6izrohrWq8T/XknTzSuKsHQZV2JOwNUw9un7ZPP6XPKMzYcr2b82t4mV3V+P6TcqVtPzXlD+T+6PUzPS4OaThoGJHIjYv9pnzy1zljrU2OqIb1Zaaqa7VB8a4qXEkXPBteIrA3Gm8VdCy5M7kYUhxT3e4xe4xdDJ1iByX1IQVfVMFDD/KH9z0B2MILuUmS+afKjdSlEEe7plnEQ=="/>-->
	<!--IQCare--> 
		<!-- <add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7almx3pHe5Hxio91uiUwrw6izrohrWq8T/XknTzSuKsHQZV2JOwNUw9un7ZPP6XPKMzYcr2b82t4mV3br0o+OUBBUwmgJ85anCSU7oeBQubQzJkDYSymSkVftoAupd+U0+r9kKXIJ/DM/xpWFKjP+GPM/B+WlhRbRdbsR2rVrlzPVNulEbAglcgbnc87eCADI915VayzfMeMMpj" /> -->
		<!--IQCare_Kapkatet-->
		<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7almx3pHe5Hxio91uiUwrw6izrohrWq8T/XknTzSuKsHQZV2JOwNUw9un7ZPP6XPKMzYcr2b82t4mV3V+P6TcqVtPz27enmPKBMTiRuZ4ib4eXswNRUFQQajmp2TfiV5k7EVIQaS6J24tIOQqzbA1JXqrRMJFQeDd1bOafWeLPriT44T8np0PEWN2D/ASoISzSBcrnw3FwO5e1KnSc99tUJAjg=" />-->
		<!--IQCare_Giaki-->
		<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7almx3pHe5Hxio91uiUwrw6izrohrWq8T/XknTzSuKsHQZV2JOwNUw9un7ZPP6XPKMzYcr2b82t4mV3V+P6TcqVtPzhgkBmg5uCd0JH2X9ODoLtIG2uvY+Fu0T/yWMrFuYuSvzgQiuncRPOpZOkiC+CGdvESC9uZgRpwHhwBiTosy9FjuLPAjK73hDPLU/dm4/al4bbhHgpFHeC8kySEhid/54=" />-->
		<!-- IQCare_Namanga - 2014 -->
		<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7alm5Ys++qSumxz2y4q17Odjc/BO5XpbjUFkxRpEHWbOovJt4feF1R74iMS//Wo6K5I9++MDmiLAPA3pbkHexm0/5IVtgFH6C8RBugTRUpsDujyT8bjOBw/o5IC93Om1z89Wnah4C0MJ9EwI9cN1EXpbt5dvplpAZQXcrYwtAtsHVAYtbiVAZAuvkjGUatB4EvNHCl821qMXKzo8R/pBowPHNI="/>-->
		<!-- IQCare_Merigi-->
			<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7almx3pHe5Hxio91uiUwrw6izrohrWq8T/XknTzSuKsHQZV2JOwNUw9un7ZPP6XPKMzYcr2b82t4mV3V+P6TcqVtPyqm6yhDGH9kjXVXJ6NF0Qde8eYHFKcHp+ch1NzDjtRRFn+3DurxP7+pJkUPW0m3nlM7QuO5mb9vwtlfDmzIrhAXIllVGHpdCzglTkP8Ozh1bBGa5mdvLyKoU2UMJghS68="/>-->
		<!-- LU Server-->
		<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFZzzSxr0abN4MlIpe4JHed+JIpB7+nuye2E3bJpTSmYsb8h/qAbf63oHn02z+LQwTtEWX7rj9GW/sPcADMq9D6F7p9XqtX2LTTwKHoKqgHFTmo7xUkcN5NqgDMCbc0GOp29Y7XSWvBkHvCXY6Zuyudj5hKnTqYvsCvPyGpumNlqU51JQnDPRXM8aOP07bZDuptedhISEjADDKjbWq8Bhb/8" />-->
		 <!-- IQCare Wamunyu -->
		<!--<add key="ConnectionString" value="/EjlmqckPVRaMmWKqnNPolgupkfkkMeaJHPnvF2XCFYUEmnuT7almx3pHe5Hxio91uiUwrw6izrohrWq8T/XknTzSuKsHQZV2JOwNUw9un7ZPP6XPKMzYcr2b82t4mV3V+P6TcqVtPy0WLIu87GiCl+1+uCA5wkwkcpqDz8WUWuEXR7xL9gSOZ4oPz3unHtjLu+G07sR8U8sTNmIhp3DUH5RqplB4ZF1Xdg+Imsf3+BXZu95POhaMcV8qpFLINrbvGUT59Ak9fs="/>-->
		<add key="IQToolsConnectionString" value="/EjlmqckPVRaMmWKqnNPohCLRMtz6KduC8S9EOWaDTXEeoN2wk8dLvmASKMW0nOQQigXDYjNOY/TkgWgnY5PeaIcdgwew0OM3ffyy6DcBE6N9I/3S0bYlv0UoqwEukpC/9WLYwkBLq/tlPDQJ+O5d+Fz5qUqRtjJFp5X1WPGgG7yHOGxeUtG/2UetB7ivzY3biRDESeBiP/ILjmmpvbdZcoohsG5VDD9g9KaIzVi4JJyk8MPk9o1lcmBrDLfN1/gvh9Pa8lu7aAMPUXQZNnhtMVeZ93SWbmi" />
		<add key="SessionTimeOut" value="480" />
		<add key="CommandTimeOut" value="900" />
		<add key="tcpChannel" value="8001" />
		<add key="MessageRepository" value="IQCareMessage.xml" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel type="System.Runtime.Remoting.Channels.Tcp.TcpChannel, System.Runtime.Remoting" ref="Tcp" port="8001" />
				<clientProviders>
					<formatter type="System.Runtime.Remoting.Channels.BinaryClientFormatterSinkProvider, System.Runtime.Remoting" ref="Binary" />
				</clientProviders>
				<serverProviders>
					<formatter type="System.Runtime.Remoting.Channels.BinaryClientFormatterSinkProvider, System.Runtime.Remoting" ref="Binary" />
				</serverProviders>
			</channels>
		</application>
		<customErrors mode="off" />
	</system.runtime.remoting>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>