<app-header></app-header>
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <app-sidebar></app-sidebar>
        <app-chatbar></app-chatbar>
        <!-- Page Content -->
        <div class="page-content">
            <app-breadcrumb></app-breadcrumb>
            <app-pageheader></app-pageheader>
            <!-- Page Body -->
            <div class="page-body">
                <ng-snotify></ng-snotify>
                <router-outlet></router-outlet>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->
</div>
<!--<app-footer></app-footer>-->