<app-header></app-header>
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <app-sidebar></app-sidebar>
        <app-chatbar></app-chatbar>
        <!-- Page Content -->
        <div class="page-content">
            <app-breadcrumb></app-breadcrumb>
            <app-pageheader></app-pageheader>
            <!-- Page Body -->
            <div class="page-body">
                <ng-snotify></ng-snotify>
                <ngx-spinner bdOpacity=0.1 bdColor="rgba(255,255,255,0.7)" size="small" color="#ff0303" type="square-loader"
                    fullScreen="false">
                    <p style="color: rgb(247, 11, 11)"> Loading... </p>
                </ngx-spinner>
                <router-outlet></router-outlet>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->
</div>
<!--<app-footer></app-footer>-->