<form class="form-group" [formGroup]="FertilityIntentionForm">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="form-title">
                <span class="mat-accent">
                    Fertility Intentions
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label>LMP</mat-label>
                    <input formControlName="lmp" id="lmp" name="lmp" matInput (focus)="lmp.open()"
                        [matDatepicker]="lmp">
                    <mat-datepicker-toggle matSuffix [for]="lmp"></mat-datepicker-toggle>
                    <mat-datepicker #lmp></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-lg-12 col-sm-12 col-xs-12">
                    <mat-label>Pregnant?</mat-label>
                    <mat-select id="pregnant" name="pregnant" formControlName="pregnant" required>
                        <mat-option [value]=""></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label>Was Pregnancy Planned?</mat-label>
                    <mat-select id="pregnancyPlanned" name="pregnancyPlanned" formControlName="pregnancyPlanned">
                        <mat-option [value]=""></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label>Breastfeeding?</mat-label>
                    <mat-select id="breastFeeding" name="breastFeeding" formControlName="breastFeeding">
                        <mat-option [value]=""></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label>On Family Planning?</mat-label>
                    <mat-select id="onFamilyPlanning" name="onFamilyPlanning" formControlName="onFamilyPlanning">
                        <mat-option [value]=""></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label>Family Planning Methods</mat-label>
                    <mat-select id="familyPlanningMethods" name="familyPlanningMethods"
                        formControlName="familyPlanningMethods">
                        <mat-option [value]=""></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12">
                <mat-form-field class="col-md-12">
                    <mat-label>Planning To Get Pregnant</mat-label>
                    <mat-select id="planningToGetPregnant" name="planningToGetPregnant"
                        formControlName="planningToGetPregnant">
                        <mat-option [value]=""></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>