<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SessionTimeOut" value="480"/>
    <add key="CommandTimeOut" value="900"/>
    <add key="tcpChannel" value="8001"/>
    <add key="MessageRepository" value="XMLFiles\IQCareManagementMessage.xml"/>
    <add key="StylesSheetFilename" value="Styles\Styles.xml"/>
    <add key="StyleSheetRepository" value="Styles\Styles.xml"/>
    <add key="ImagePath" value="Images"/>
    <add key="XMLFilesPath" value="XMLFiles"/>
    <add key="ExcelFilesPath" value="ExcelFiles"/>
    <add key="ReportsPath" value="Reports"/>
    <add key="Rptfieldvalidation" value="XMLFiles"/> 
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="IQCareURL" value="http://localhost:58339"/>
    <add key="ServerLocation" value="tcp://127.0.0.1:8001/BusinessProcess.rem"/>
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="8001"/>
        <clientProviders>
          <formatter ref="binary"/>
        </clientProviders>
        <serverProviders>
          <formatter ref="binary" typeFilterLevel="Full"/>
        </serverProviders>
      </channels>
    </application>
    <customErrors mode="off"/>
  </system.runtime.remoting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
    <!--<legacyCasPolicy enabled="true" level="Full" />-->
    <!--<legacyCasPolicy enabled="true" />-->
  	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup> !-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
