<form class="form-group" novalidate [formGroup]="PatientEducationFormGroup">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-blue">
                            <span class="widget-caption">
                                <i class="typcn typcn-keyboard"></i> Patient Education and Examination </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Breast Exam Done ?</h5>
                                    <mat-radio-group aria-required="true" formControlName="breastExamDone" aria-required="true">
                                        <mat-radio-button class="col-md-12" value="1">Yes</mat-radio-button>
                                        <mat-radio-button class="col-md-12" value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <div class="col-md-12">

                                    <div class="col-md-10 cl-xs-12">
                                        <mat-form-field class="col-md-12">
                                            <mat-select placeholder="Patient Counselled On ?" formControlName="counselledOn" required>
                                                <mat-option id="slctTopic" *ngFor="let topic of topics" [value]="topic.value">
                                                    {{topic.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 cl-xs-12">
                                        <button mat-button id="btnAdd" class="btn btn-primary "> Add Lesson</button>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" width=100%>

                                                    <!--- Note that these columns can be defined in any order.
                                                                  The actual rendered columns are set as a property on the row definition" -->
                                                    <!-- Position Column -->
                                                    <ng-container matColumnDef="position">
                                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                                    </ng-container>
            
                                                    <!-- Name Column -->
                                                    <ng-container matColumnDef="dateDone">
                                                        <th mat-header-cell *matHeaderCellDef> Date Done </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.dateDone}} </td>
                                                    </ng-container>
            
                                                    <!-- Weight Column -->
                                                    <ng-container matColumnDef="topic">
                                                        <th mat-header-cell *matHeaderCellDef> Topic</th>
                                                        <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
                                                    </ng-container>
            
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                </table>
                                    </div>
                                    
                                </div>

                                <div class="col-md-12" style="margin-top:5px">
                                    <app-antenatal-profile></app-antenatal-profile>
                                </div>

                            </div>

                            <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <button class="primary" mat-button matStepperPrevious>Back</button>
                                            <button class="primary" mat-button matStepperNext>Next</button>
                                          </div>
                                    </div>
                                </div> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>