<form class="form-group" novalidate [formGroup]="PatientEducationFormGroup">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-blue">
                            <span class="widget-caption">
                                <i class="typcn typcn-keyboard"></i> Patient Education and Examination </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5><strong>Breast Exam Done ?</strong></h5>
                                    <mat-radio-group aria-required="true" formControlName="breastExamDone" aria-required="true">
                                        <mat-radio-button class="col-md-12" *ngFor="let yesno of yesnos" [value]="yesno.itemId">{{yesno.itemName}}</mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <div class="col-md-12" style="margin-top:10px">

                                    <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12">
                                        <mat-form-field class="col-md-12">
                                            <mat-select placeholder="Patient Counselled On ?" formControlName="counselledOn" required multiple>
                                                <mat-option *ngFor="let topic of topics" [value]="topic.itemId">
                                                    {{topic.itemName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                        <mat-form-field class="col-md-12">
                                            <input id="topicDate" matInput [matDatepicker]="topicDate" formControlname="counsellingDate" placeholder="Date Counselled">
                                            <mat-datepicker-toggle matSuffix [for]="topicDate"></mat-datepicker-toggle>
                                            <mat-datepicker #topicDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                        <button mat-raised-button color="primary"> Add Topic</button>
                                    </div>
                                </div>


                                <div class="col-md-12" style="margin-top:5px">
                                    <app-antenatal-profile></app-antenatal-profile>
                                </div>

                            </div>

                            <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <button class="primary" mat-button matStepperPrevious>Back</button>
                                            <button class="primary" mat-button matStepperNext>Next</button>
                                          </div>
                                    </div>
                                </div> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>