<connectionStrings>
    <add 
      name="IQCareDatabase" 
      connectionString="Data Source=127.0.0.1\KOSKE14;Initial Catalog=IQCareMakadara;Persist Security Info=True;User ID=sa;Password=maun;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" 
      />
</connectionStrings>
