<connectionStrings>
    <add 
      name="IQCareDatabase" 
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IQCareMakadara;Persist Security Info=True;User ID=sa;Password=c0nstella;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" 
      />
</connectionStrings>
